<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-DWPXDV0RGN"></script>
	<script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-DWPXDV0RGN'); </script>
    <title>Tom Bealby CV</title>
    <meta name="description" content="Tom Bealby CV provides provides Tom Bealby's curriculum vitae.
    The page contains a short description of Tom Bealby's skill set, motivations, previous employments and qualifications.
    The page also contains some technical software development book reviews and blogs covering incidents
    and insights gained from Tom Bealby's many years of experience working as a software developer.">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  	<meta name="author" content="Tom Bealby">
    <link media="all" rel="stylesheet" type="text/css" href="/css/tradewaysoftwaresystems.css" />
    <link media="screen and (min-device-width: 40em)" rel="stylesheet" type="text/css" href="/css/tradewaysoftwaresystems-mediumscreens.css" />
    <link media="screen and (min-device-width: 105em)" rel="stylesheet" type="text/css" href="/css/tradewaysoftwaresystems-largescreens.css" />
    <script src="/js/cv.js"></script>
</head>
<body id="cv">

<div th:if="${not #strings.isEmpty(@environment.getProperty('availabilityText'))}">
<p class="availabilityText" th:text="${@environment.getProperty('availabilityText')}"></p>
</div>

<!-- Tab links -->
<div class="tab">
  <button id="defaultOpen" class="tablinks" onclick="openTab(event, 'summary')">Summary</button>
  <button class="tablinks" onclick="openTab(event, 'motivation')">Work Values and Motivation</button>
  <button class="tablinks" onclick="openTab(event, 'employments')">Employment History</button>
  <button class="tablinks" onclick="openTab(event, 'qualifications')">Qualifications and Certifications</button>
  <button class="tablinks" onclick="openTab(event, 'bookreviews')">Book Reviews</button>
  <button class="tablinks" onclick="openTab(event, 'blogs')">Blogs</button>
</div>

<a class="tradewayLink backToHomePageLink" th:href="@{/tombealby?(displayCvLink=${displayCvLink})}"><strong>Click here</strong><br>To return to: Home Page</a>

<div class="headingContainer">

<h1>Tom Bealby</h1>

<h2>tom.bealby@outlook.com</h2>

</div>

<div th:replace="fragments/tombealby/cv/summary :: summary"></div>
<div th:replace="fragments/tombealby/cv/motivation :: motivation"></div>
<div th:replace="fragments/tombealby/cv/employments :: employments"></div>
<div th:replace="fragments/tombealby/cv/qualifications :: qualifications"></div>
<div th:replace="fragments/tombealby/bookReviews/bookreviews :: bookreviews"></div>
<div th:replace="fragments/tombealby/blogs/blogs :: blogs"></div>


<h2>&copy; 2023 Tradeway Software Systems<h2/>
<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}

document.getElementById("defaultOpen").click();
</script>
</body>
</html>