<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Tom Bealby CV</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link media="all" rel="stylesheet" type="text/css" href="/css/tom.css" />
</head>
<body>

<div  id="employments" class="tabcontent" th:fragment="employments">

<h2>Employment History</h2>

<div class="summaryList">
<p>
<h3>October 2018 – present day Java Developer / Senior Java Developer, HMRC, formerly Revenue and Customs Digital Technology Services (RCDTS).</h3>
<ul class="employments">
<li>Working on HMRC Revenue and Tax systems</li>
<ul>
<li>Web applications used by HMRC personnel.</li>
<li>Web services.</li>
<li>Micro-services.</li>
<li>Spring Boot framework</li>
<li>Java 8</li>
<li>Maven build tool, SonarQube code analysis tool, Clover test coverage tool.</li>
<li>Agile development practices</li>
<li>Test Driven Development</li>
<li>Pair Programming</li>
</ul>
<li>Maintaining and extending functional behaviour of web applications.</li>
<ul>
<li>The applications make RESTful requests to down-stream micro-services in order to obtain the information that they display.</li>
</ul>
<li>Maintaining and extending functional behaviour of an important HMRC backend application.</li>
<ul>
<li>The application provides web services used by other HMRC applications, by exposing REST and SOAP APIs.</li>
<li>Communication with other applications is by synchronous HTTP and asynchronous messaging systems, IBM MQ and Rabbit MQ.</li>
<li>Hibernate is used to implement JPA for communication between the application and an Oracle database.</li>
</ul>
<li>In January 2020 I was promoted to the role of Senior Developer. The new role included increased responsibility and accountability.</li>
</ul>
</p>

<p>
<h3>May 2013 – August 2018	Java and Python Developer, Centiq.</h3>
<ul class="employments">
<li>Centiq are computer consultants providing maintenance services for their customers’ computer systems which were based on IBM technology. At the time of my employment Centiq specialised in SAP HANA technology.</li>
<li>I worked on the development and maintenance of Centiq’s own monitoring software. The software is used to monitor the health of the computer systems belonging to Centiq’s customers.  The software provided a web interface that gave up to date information about the customer systems’ state. An alerting module, in the monitoring software, sent emails to interested parties, when critical metrics were breached.</li>
<ul>
<li>The software is written in Java and Python. A MySQL database provides data persistence.</li>
<li>My role included problem analysis, solution design and implementation, code reviews and testing.</li>
</ul>
<li>I was given responsibility for Centiq’s ‘Universal Agent’ application. This is an application that monitors the health of SAP HANA databases. My role involved</li>
<ul>
<li>liaising with the product owner and subject matter experts.</li>
<li>work allocation and planning.</li>
<li>mentoring other developers who were working on the application.</li>
</ul>
<li>DevOps based experience.</li>
<ul>
<li>I gained experience of Ansible, Jenkins, Vagrant and Amazon Web Services.</li>
</ul>
</ul>
</p>

<p>
<h3>March 2011 – 2013 Java Developer, Calibrand.</h3>
<ul class="employments">
<li>Calibrand produce software for electronic tests, exams and assessments.</li>
<li>The systems are web applications which have clients rendered in HTML using JSPs, Javascript and CSS. The applications use a Java backend that interfaces with a SQL Server database.</li>
<li>My role was to provide development and support for these systems.</li>
</ul>
</p>

<p>
<h3>May 2008 -2011	Analyst Programmer, Kuehne & Nagel Ltd.</h3>
<ul class="employments">
<li>I initially worked as a support programmer for Kuehne and Nagel’s (K & N) in-house legacy logistical information system, providing bug fixes written in RPG.</li>
<li>When K & N decided to start making a replacement system written in Java I changed job role to work as an analyst writing technical specifications and domain diagrams for the new system.</li>
<li>I worked as an analyst for six months before transferring to the Java development team in January 2010.</li>
</ul>
</p>

<p>
<h3>Oct 2006-2008 Computer Programmer, FourSoft UK Ltd.</h3>
<ul class="employments">
<li>Programming support for FourSoft’s CIEL system. The system is written in RPG.</li>
</ul>
</p>

<p>
<h3>2003-2006 Underwriting Analyst, Croner Consulting Ltd.</h3>
<ul class="employments">
<li>Calculating underwriting rates & policy premiums for insurance policies.</li>
</ul>
</p>

<p>
<h3>1996-2002 Farm Work.</h3>
<ul class="employments">
<li>Working on a cereal/potato farm at Spalding, South Lincs.</li>
</ul>
</p>
</div>

</div>

</body>
</html>