<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Tom Bealby CV</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div  id="motivation" class="tabcontent" th:fragment="motivation">

<p class="mainHeading">Work Values and Motivation</p>

<div class="summaryList">
<p>
<ul class="motivation">
<li>Immense enthusiasm for working in software development.</li>
<ul>
<li>Career change to follow my passion.</li>
</ul>
<li>Enjoy roles involving leadership, decision making, mentoring and responsibility.</li>
<li>Seek ways to improve development standards and processes.</li>
<ul>
<li>Test Driven Development.</li>
<li>Pair programming.</li>
</ul>
<li>Self-development and continual learning.</li>
</ul>
</p>

<p class="photoAcknowledgements">Photo Acknowledgements: Matthias Groeneveld (pexels.com)</p>

</div>

</div>

</body>
</html>