<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Tom Bealby CV</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link media="all" rel="stylesheet" type="text/css" href="/css/tom.css" />
</head>
<body>

<div  id="motivation" class="tabcontent" th:fragment="motivation">

<h2>Work Values and Motivation</h2>

<div class="summaryList">
<p>
<ul class="motivation">
<li>Immense enthusiasm for working in software development.</li>
<ul>
<li>Career change to follow my passion.</li>
</ul>
<li>Enjoy roles involving leadership, decision making, mentoring and responsibility.</li>
<li>Seek ways to improve development standards and processes.</li>
<ul>
<li>Test Driven Development.</li>
<li>Pair programming.</li>
</ul>
<li>Self-development and continual learning.</li>
</ul>
</p>
</div>

<div class="imagecontainer">
    <img src="/images/beach_rocks.jpg" alt="beach rocks">
</div>

</div>

</body>
</html>