<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Tom Bealby CV</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link media="all" rel="stylesheet" type="text/css" href="/css/tom.css" />
</head>
<body>

<div  id="qualifications" class="tabcontent" th:fragment="qualifications">

<h2>Qualifications and Certifications</h2>

<div class="summaryList">
<p>
<ul class="qualifications">
<li>Sun Certified Java Programmer (January 2010).</li>
<li>Diploma in Computing, Open University  (graduated 2005)</li>
<li>BSc(Hons) Mathematical Sciences first-class, Open University (graduated 2002)</li>
</ul>
</p>
</div>

<div class="imagecontainer">
    <img src="/images/silver_birch.jpg" alt="trees">
</div>

</div>

</body>
</html>