<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Tom Bealby CV</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div  id="qualifications" class="tabcontent" th:fragment="qualifications">

<p class="mainHeading">Qualifications and Certifications</p>

<div class="summaryList">
<p>
<ul class="qualifications">
<li>Sun Certified Java Programmer (January 2010).</li>
<li>Diploma in Computing, Open University  (graduated 2005)</li>
<li>BSc(Hons) Mathematical Sciences first-class, Open University (graduated 2002)</li>
</ul>
</p>

<p class="photoAcknowledgements">Photo Acknowledgements: Rey Rey (pexels.com)</p>
</div>

</div>

</body>
</html>