<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Tom Bealby CV</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link media="all" rel="stylesheet" type="text/css" href="/css/tom.css" />
</head>
<body>

<div id="summary" class="tabcontent" th:fragment="summary">

<h2>Curriculum vitae</h2>

<p class="intro">I have over fifteen years of experience working in software development.
I am keen to share my experience to help teams in building high quality systems using industry 
accepted software engineering principles.</p>

<p>
<ul class="summary">
<li>Senior Java Developer</li>
<ul>
<li>Work on public facing and performance sensitive systems.</li>
<li>Development team leadership and management.</li>
<li>Key contributor to architectural and design decisions.</li>
<li>Developing new features.</li>
<li>Creating bug fixes.</li>
<li>Improving existing code quality.</li>
<li>Work estimation and planning.</li>
<li>Coaching and mentoring team members.</li>
</ul>
<li>Java Programming</li>
<ul>	
<li>Ten plus years’ experience in Java programming using Java 6 and Java 8.</li>
<li>Spring Boot framework.</li>
<li>Web services – REST and SOAP.</li>
</ul>
<li>Agile software development methodology</li>
<ul>
<li>Scrum and Kanban.</li>
</ul>
<li>Micro-services and monoliths.</li>
<li>Improving application performance to handle high request traffic load.</li>
<li>Web application development</li>
<ul>
<li>HTML, Javascript and CSS.</li>
</ul>
<li>Databases and related technologies</li>
<ul>
<li>Oracle, MySQL and Microsoft SQL Server.</li>
<li>Hibernate, JPA.</li>
</ul>
<li>Messaging systems</li>
<ul>
<li>IBM MQ and RabbitMQ.</li>
</ul>
<li>Unix</li>
<ul>
<li>Shell scripting and common Unix commands.</li>
</ul>
<li>Python Programming</li>
<ul>
<li>Python 2.7</li>
</ul>
<li>Excellent understanding of the principles of Object Orientated development.</li>
</ul>
</p>

<div class="imagecontainer">
    <img src="/images/my_photo.jpg" alt="Tom Bealby">
</div>

</div>



</body>
</html>