<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Software Development Books - Recommended Books for beginners and experienced developers</title>
    <meta name="description" content="The best software engineering books are reviewed.">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Tom Bealby">
    <link media="all" rel="stylesheet" type="text/css" href="/css/tradewaysoftwaresystems.css" />
    <link media="screen and (min-device-width: 40em)" rel="stylesheet" type="text/css" href="/css/tradewaysoftwaresystems-mediumscreens.css" />
    <link media="screen and (min-device-width: 105em)" rel="stylesheet" type="text/css" href="/css/tradewaysoftwaresystems-largescreens.css" />
</head>
<body class="bookReviewsHome">

<a class="tradewayLink backToHomePageLink" th:href="@{/tombealby}"><strong>Click here</strong><br>To return to: Home Page</a>

<div class="headingContainer">

<h1>Tom Bealby</h1>

<h2 class="email">tom.bealby@outlook.com</h2>

</div>

<div th:replace="fragments/tombealby/bookReviews/bookreviews :: bookreviews"></div>

<div class="imagecontainer">
    <img src="/images/my_photo.jpg" alt="Tom Bealby">
</div>

<h2 class="watermark">&copy; 2023 Tradeway Software Systems<h2/>

</body>
</html>