<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-DWPXDV0RGN"></script>
	<script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-DWPXDV0RGN'); </script>
    <title>Tom Bealby Australia 1989</title>
    <meta name="description" content="Tom Bealby Australia 1989 life on a family run fruit and vegetable farm
    in southern Queensland.">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  	<meta name="author" content="Tom Bealby">
    <link media="all" rel="stylesheet" type="text/css" href="/css/tradewaysoftwaresystems.css" />
    <link media="screen and (min-device-width: 40em)" rel="stylesheet" type="text/css" href="/css/tradewaysoftwaresystems-mediumscreens.css" />
    <link media="screen and (min-device-width: 105em)" rel="stylesheet" type="text/css" href="/css/tradewaysoftwaresystems-largescreens.css" />
    <script src="/js/cv.js"></script>
</head>
<body id="australia_1989">

<div th:if="${not #strings.isEmpty(@environment.getProperty('availabilityText'))}">
<p class="availabilityText" th:text="${@environment.getProperty('availabilityText')}"></p>
</div>

<a class="tradewayLink backToHomePageLink" th:href="@{/tombealby/travel?(displayCvLink=${displayCvLink})}"><strong>Click here</strong><br>To return to: Travel Page</a>

<div class="headingContainer">

<h1>Tom Bealby</h1>

<h2>tom.bealby@outlook.com</h2>

</div>

<p id="travelPageHeading" class="mainHeading">Autralia 1989</p>

<p class="summary">I flew to Australia in September 1989 to spend seven months working on a family run fruit and vegetable
	farm at Stanthorpe in southern Queensland.</p>

<p class="summary">The farm grew peaches, apricots, nectarines, tomatoes and grapes.
</p>

<p class="summary">The tomatoes were planted in October. Two people were needed to sit on the tomato planter to feed the
	small tomato plants into a clamp that gripped the plants. The clamp rotated on a pair of steel wheels, and parted to
	set the plants when the clamp reached the soil. The wheels then firmed the soil around the plant.
</p>

<div id="plantingTomatoes" class="imagecontainer">
	<img src="/images/Australia_1989/planting_tomatoes.jpg" alt="Tomato planting in Australia.">
</div>

<p class="summary">Tomato planting required several people. As well as the people working the tomato planter, people were needed
	to prepare the plants for planting and lay out irrigation tape. The following photo shows the planting gang having 'smoko'
	(a tea break).
</p>

<div class="imagecontainer">
	<img src="/images/Australia_1989/smoko_in_the_field.jpg" alt="The tomato planting gang take a tea break.">
</div>

<p class="summary">The following photo shows the tomatoes being 'scuffled'. This involved a scuffle or hoe being pulled behind
	a tractor, with someone walking behind guiding the scuffle. This removed weeds growing close to the young tomato plants
	reducing competition.
</p>

<div class="imagecontainer">
	<img src="/images/Australia_1989/scuffling_the_tomatoes.jpg" alt="Scuffling tomatoes.">
</div>

<p class="summary">The stonefruit were 'thinned' in November. This involved removing excess buds to ensure that the trees
	were bearing an optimum number of fruit. If the trees bore too much fruit, then each fruit would be too small for market.
</p>

<div class="imagecontainer">
	<img src="/images/Australia_1989/thinning_peaches.jpg" alt="Thinning peaches.">
</div>

<p class="summary">The farm had a lake which provided water for irriation. Grapes are being irrigated in the photo below.
</p>

<div class="imagecontainer">
	<img src="/images/Australia_1989/irrigating_grapes.jpg" alt="Irrigating grapes.">
</div>

<p class="summary">The tomatoes were picked in January and February. The tomatoes ripened over several weeks. Therefore each tomato
	field was picked on up to five different occasions. Tomato picking was hard work. We picked the tomatoes into
	a plastic bucket, and then emptied the bucket into large wooden boxes carried on a motorised platform.
</p>

<div class="imagecontainer">
	<img src="/images/Australia_1989/picking_tomatoes.jpg" alt="Picking tomatoes.">
</div>

<p class="summary">The grapes were picked in February and March. Grapes were grown for both the fresh market and for making
	into wine.
</p>

<div class="imagecontainer">
	<img src="/images/Australia_1989/grapes_ready_to_pick.jpg" alt="Grapes on the vine.">
</div>

<p class="summary">Grapes destined for the fresh market needed trimming to remove unedible material
	prior to sale.
</p>

<div class="imagecontainer">
	<img src="/images/Australia_1989/trimming_grapes_in_packhouse.jpg" alt="Trimming grapes in the packhouse.">
</div>

<p class="summary">Alot of the farm work was hard and exhausting under the hot sun. We often relaxed with a beer and
	and a chat at the end of the day. The following shows one such occasion, when we are also celebrating a birthday.
</p>

<div class="imagecontainer">
	<img src="/images/Australia_1989/birthday_celebration.jpg" alt="Relaxing after a hard day's work.">
</div>

<p class="authoredBy">By: Tom Bealby - 17 February 2024</p>

<h2>&copy; 2024 Tradeway Software Systems<h2/>
</body>
</html>