<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-DWPXDV0RGN"></script>
	<script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-DWPXDV0RGN'); </script>
    <title>Tom Bealby India 2023</title>
    <meta name="description" content="Tom Bealby India 2023 describes a road trip from
    Kolkata to Darjeeling in the Himalayas taken in December 2023.">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  	<meta name="author" content="Tom Bealby">
    <link media="all" rel="stylesheet" type="text/css" href="/css/tradewaysoftwaresystems.css" />
    <link media="screen and (min-device-width: 40em)" rel="stylesheet" type="text/css" href="/css/tradewaysoftwaresystems-mediumscreens.css" />
    <link media="screen and (min-device-width: 105em)" rel="stylesheet" type="text/css" href="/css/tradewaysoftwaresystems-largescreens.css" />
    <script src="/js/cv.js"></script>
</head>
<body id="india_2023">

<div th:if="${not #strings.isEmpty(@environment.getProperty('availabilityText'))}">
<p class="availabilityText" th:text="${@environment.getProperty('availabilityText')}"></p>
</div>

<a class="tradewayLink backToHomePageLink" th:href="@{/tombealby/travel?(displayCvLink=${displayCvLink})}"><strong>Click here</strong><br>To return to: Travel Page</a>

<div class="headingContainer">

<h1>Tom Bealby</h1>

<h2>tom.bealby@outlook.com</h2>

</div>

<p id="travelPageHeading" class="mainHeading">India 2023<br>From Kolkata to the Himalayas</br></p>

<p class="summary">In December 2023 we flew to India to visit family and friends. While there, we took a seven day
 road trip from Kolkata to Darjeeling. This page contains highlights of that trip.</p>

<p class="summary">Its about four hundred miles from Kolkata to Darjeeling. We broke the journey up by staying
	at Berhampore, Malda and Siliguri along the way.
</p>

<div class="imagecontainer">
	<img src="/images/India_2023/India_map.jpg" alt="Map showing route travelled.">
</div>

<p class="summary">It was fascinating to see the West Bengal countryside on the drive. The following photos
	show rice being grown in farmland at Malda.
</p>

<div class="imagecontainer">
	<img src="/images/India_2023/malda_farm_view_1.jpg" alt="Farming at Malda.">
</div>

<div class="imagecontainer">
	<img src="/images/India_2023/malda_farm_view_2.jpg" alt="Farming at Malda.">
</div>

<p class="summary">The distance from Siliguri to Darjeeling is about forty miles. However the road is winding and
	quite narrow. There are steep drops off the road side. Therefore care is needed and our drive took several hours.
	However it was a clear fine day and we enjoyed some spectacular views along the way.
</p>

<video controls>
  <source src="/videos/drive_to_Darjeeling.mp4" type="video/mp4">
  Your browser does not support the video tag.
</video>

<p class="summary">We took a break at a roadside cafe on the drive to Darjeeling. The following video shows the view
	from the cafe.
</p>

<video controls>
  <source src="/videos/stop_on_way_to_Darjeeling.mp4" type="video/mp4">
  Your browser does not support the video tag.
</video>

<p class="summary">Its not possible to see Everest from Darjeeling. However we could see Kangchenjunga, which is the
	third highest mountain in the world. If you look carefully in the following photo taken from Darjeeling, you can
	see the peaks of the Himalayas touching the clouds.
</p>

<div class="imagecontainer">
	<img src="/images/India_2023/Darjeeling_Hotel_view.jpg" alt="Himalayas viewed from Darjeeling.">
</div>

<p class="summary">In Darjeeling we visited a tea garden and saw tea being grown. This was a popular tourist spot. Some
	of the tourists hired traditional tea pickers costumes to have their photos taken.
</p>

<video controls>
  <source src="/videos/Darjeeling_tea_garden.mp4" type="video/mp4">
  Your browser does not support the video tag.
</video>

<p class="authoredBy">By: Tom Bealby - 1 January 2024</p>

<h2>&copy; 2024 Tradeway Software Systems<h2/>
</body>
</html>