<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-DWPXDV0RGN"></script>
	<script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-DWPXDV0RGN'); </script>
    <title>Tom Bealby Norway 2026</title>
    <meta name="description" content="Tom Bealby Norway 2026 describes a trip to
    explore the fjords of southern Norway taken in July 2026.">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  	<meta name="author" content="Tom Bealby">
    <link media="all" rel="stylesheet" type="text/css" href="/css/tradewaysoftwaresystems.css" />
    <link media="screen and (min-device-width: 40em)" rel="stylesheet" type="text/css" href="/css/tradewaysoftwaresystems-mediumscreens.css" />
    <link media="screen and (min-device-width: 105em)" rel="stylesheet" type="text/css" href="/css/tradewaysoftwaresystems-largescreens.css" />
    <script src="/js/cv.js"></script>
</head>
<body id="norway_2026">

<div th:if="${not #strings.isEmpty(@environment.getProperty('availabilityText'))}">
<p class="availabilityText" th:text="${@environment.getProperty('availabilityText')}"></p>
</div>

<a class="tradewayLink backToHomePageLink" th:href="@{/tombealby/travel?(displayCvLink=${displayCvLink})}"><strong>Click here</strong><br>To return to: Travel Page</a>

<div class="headingContainer">

<h1>Tom Bealby</h1>

<h2>tom.bealby@outlook.com</h2>

</div>

<p id="travelPageHeading" class="mainHeading">Norway 2026<br>Exploring the Fjords</br></p>

<p class="summary">In July 2026 we took a short trip to Norway to explore the Norwegian fjords. 
	This page contains highlights of that trip.</p>

<p class="summary">We explored southern Norway, visiting the towns of Stavanger, Olden, Hellesylt
	and Haugesund.
</p>

<!--
<div class="imagecontainer">
	<img src="/images/India_2023/India_map.jpg" alt="Map showing route travelled.">
</div>
-->

<p class="summary">Our first day in Norway was spent in Stavanger. We went on a boat ride around Lysefjord. It
	was a bright sunny day and the views were very good.
</p>

<div class="imagecontainer">
	<img src="/images/Norway_2026/Lysefjord_cruise_20260706.jpg" alt="Lysefjord scenery from the boat.">
</div>

<p class="summary">We visited the Briksdal glacier from Olden. To get to the glacier we had a short coach ride before
	getting on troll cars for the final part of the journey. This photograh was taken from the coach.
</p>

<div class="imagecontainer">
	<img src="/images/Norway_2026/Briksdal_20260707.jpg" alt="Scenery from coach on the way to Briksdal glacier.">
</div>

<p class="summary">In Haugesund we took a two hour coach journey to view the surrouding countryside, before embarking
	on a boat to take us back to Haugesund.
</p>

<div class="imagecontainer">
	<img src="/images/Norway_2026/Haugesund_cruise_20260709.jpg" alt="Countryside around Haugesund.">
</div>

<p class="authoredBy">By: Tom Bealby - 12 July 2026</p>

<h2>&copy; 2026 Tradeway Software Systems<h2/>
</body>
</html>