<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-DWPXDV0RGN"></script>
	<script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-DWPXDV0RGN'); </script>
    <title>Tom Bealby Travel</title>
    <meta name="description" content="Tom Bealby Travel contains links to pages describing travels around the world.">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  	<meta name="author" content="Tom Bealby">
    <link media="all" rel="stylesheet" type="text/css" href="/css/tradewaysoftwaresystems.css" />
    <link media="screen and (min-device-width: 40em)" rel="stylesheet" type="text/css" href="/css/tradewaysoftwaresystems-mediumscreens.css" />
    <link media="screen and (min-device-width: 105em)" rel="stylesheet" type="text/css" href="/css/tradewaysoftwaresystems-largescreens.css" />
    <script src="/js/cv.js"></script>
</head>
<body id="travel">

<div th:if="${not #strings.isEmpty(@environment.getProperty('availabilityText'))}">
<p class="availabilityText" th:text="${@environment.getProperty('availabilityText')}"></p>
</div>

<a class="tradewayLink backToHomePageLink" th:href="@{/tombealby?(displayCvLink=${displayCvLink})}"><strong>Click here</strong><br>To return to: Home Page</a>

<div class="headingContainer">

<h1>Tom Bealby</h1>

<h2>tom.bealby@outlook.com</h2>

</div>

<p id="travelPageHeading" class="mainHeading">Travel</p>

<a class="tradewayLink" th:href="@{/tombealby/travel/india_2023?(displayCvLink=${displayCvLink})}">
	<strong>Click here</strong><br>To read: India 2023</a>

<p class="authoredBy">By: Tom Bealby - 1 January 2024</p>

<h2>&copy; 2024 Tradeway Software Systems<h2/>
</body>
</html>