<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>The Why and How this application was built</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link media="all" rel="stylesheet" type="text/css" href="/css/tradewaysoftwaresystems.css" />
</head>   
   <body class="blogs">
   
   <div  id="hotJourney" th:fragment="hotJourney">
      <h2>A Hot Journey</h2>
      
      <p class="summary">In the 1960s the Ministry of Agriculture bought twelve farms all over the uk. The farms were
      used to try out the latest techniques to improve the country's food production. They represented different soil
      types and farming systems. Each farm was run by staff from the Agricultural Development and Advisory Service. They
      each had an advisory committee of about five local farmers to keep the experiments in line with local requirements. </p>

      <p class="summary">For several years I was chairman of the advisory committee for Terrington Experimental Husbandry
      Farm in Norfolk. This farm had a similar silt soil type to our farm in Surfleet, Lincolnshire.</p>
      
      <p class="summary"> Every year each husbandry farm was inspected by a very senior official from the Ministry of
      Agriculture in Whitehall. The official usually made their own travel arrangements with a chauffeur driven car. One
      year, for some reason, the official came by rail. I, as chairman, was asked to collect him from Spalding station and
      take him to Terrington. This trip took about forty five minutes.</p>
   		
      <p class="summary">We had a Subaru car at the time. It was a very reliable car but had one peculiar fault. The heater
      switch was faulty. The switch sometimes came on on its own at full blast and would not switch off. I had intended to
      get it repaired but just hadn't got round to it.</p>
 
      <p class="summary">It was the middle of July in a hot summer when I picked up the important official from the station.
      I apologised for the faulty heater being full on but thought it wouldn't be too bad if we opened some of the car windows.
      However the sun was relentless. So after about ten minutes we stopped and removed as much clothing as possible. We
      also opened all the remaining windows. The noise from the open windows made conversation difficult. We didn't have alot
      in common anyway. He probably had a double first in classics from one of the top Oxford colleges and knew the Iliad
      backwards. Whereas my knwoledge of Greek was limited to a few letters of the alphabet.</p>
      
      <p class="summary">We eventually arrived at Terrington covered in sweat, with me apologising profusely, and both of us
      dying for a drink of water. Fortunately the staff at Terrington arranged to put the official back on the train at Kings
      Lynn when it was time for him to go home. So I didn't have to repeat the exercise.</p>
      
      <p class="authoredBy">By: David Bealby - 18 January 2022</p>

      </div>
   </body>
</html>