/* The application's default css rules are contained in the file tradewaysoftwaresystems.css. 
This style sheet adds rules that override those default rules. The overrides will apply to
devices that have medium screens, such as small laptops and ipads  */


.intro, .summary, .motivation, .employments,
.qualifications, .bookreviews, .imagecontainer,
.blogs, .blogList, .collapsible, .homePage div,
.tradewayLink, .mainHeading {
	width: 80%;
}

#qualifications .mainHeading {
	background-size: 150%;
	background-position-y: 0%;
}


#employments .mainHeading, #blogs .mainHeading {
	background-size: 140%;
}

#bookreviews img, #seniorDeveloper img, #juniorDeveloper img {
	width: 70%;
}