/* https://www.w3schools.com/colors/colors_shades.asp */

body {
	background-color: #ffffff;
}

p, h1, h2, h3, h4, h5, .bookreviews li, .qualifications li, .motivation li {
	text-align: center;
}

img {
	display: block;
	margin: 0 auto;
}

.intro, .summary, .motivation, .employments,
.qualifications, .bookreviews, .imagecontainer,
.blogs, .blogList, .collapsible, .homePage div,
.tradewayLink {
	margin: 2em auto;
	width: 50%;
}

.blogs .blogList {
	width: 70%;
}

#problemSolver img {
	width: 100%;
}

#familyTragedy img {
	margin-top: 1em;
	margin-bottom: 1em;
}

#halifaxPlaneContainer img, #juniorDeveloper img {
	width: 50%;
}

#bookreviews img {
	width: 70%;
}

#blogs li, .blogs li {
	margin-top: 1em;
}

.blogsHome #blogs {
	display: block;
}

.collapsible {
	display: grid;
}

ul.motivation, ul.qualifications, ul.bookreviews, .motivation ul {
    text-align: center;
    list-style-position: inside;
}

span.code {
	font-family: Arial;
	margin-top: 0.3em;
	text-align: center;
	display: inline-block;
	background-color: #fff4f9;
}

#blogs p.bookreviewsubheading, .homePage div {
	text-align: center;
}

.intro {
	background-color: #d0f0f6;
	padding: 2em;
	border-style: ridge;
	text-align: justify;
	text-justify: inter-word;
	margin-top: 2em;
	margin-bottom: 2em;
}

#blogs button {
	text-decoration: underline;
}

#blogs h2, #blogs h3, #blogs h4, #blogs h5, .blogs h2, .blogs h3,
.blogsHome h2, .blogsHome h3, .blogsHome h4, .blogsHome h5 {
	color: #28abe2;
}

#blogs #blogsPageHeading, .blogsHome #blogsPageHeading, .blogsHome .watermark,
.blogsHome .email {
	color: initial;
}

#blogs p, .blogs p, .blogsHome p {
	text-align: justify;
}

.blogs p {
	width: 75%;
}

@media (max-width: 480px) {
	.blogs p {
		width: 100%;
	}
}

#blogs p.authoredBy, .blogs p.authoredBy, .blogsHome p.authoredBy,
#blogs p.photoAcknowledgements, .blogs p.photoAcknowledgements {
	text-align: center;
	margin: auto;
}

#blogs p.photoAcknowledgements, .blogs p.photoAcknowledgements {
	margin-top: 2em;
	margin-bottom: 2em;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible, .tradewayLink {
  background-color: #cff;
  color: #444;
  cursor: pointer;
  padding: 1em;
  border: ridge;
  outline: none;
  font-size: 1.2em;
  margin-top: 1.5em;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active {
  background-color: #ccc;
}

.collapsible:hover {
  background-color: #ccf;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f9f9;
}

.homePage div {
	margin-top: 3em;
	margin-bottom: 3em;
}

.homePage .intro {
	text-align: center;
	width: 30%;
	font-size: 1.5em;
}

.tradewayLink {
	display: block;
}

