<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-DWPXDV0RGN"></script>
	<script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-DWPXDV0RGN'); </script>
    <title>Tom Bealby Farming Memories</title>
    <meta name="description" content="Tom Bealby Farming Memories contains photographs of life on
    a family farm in south Lincolnshire in the second half of the twentieth century.">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  	<meta name="author" content="Tom Bealby">
    <link media="all" rel="stylesheet" type="text/css" href="/css/tradewaysoftwaresystems.css" />
    <link media="screen and (min-device-width: 40em)" rel="stylesheet" type="text/css" href="/css/tradewaysoftwaresystems-mediumscreens.css" />
    <link media="screen and (min-device-width: 105em)" rel="stylesheet" type="text/css" href="/css/tradewaysoftwaresystems-largescreens.css" />
    <script src="/js/cv.js"></script>
</head>
<body id="farming">


<a class="tradewayLink backToHomePageLink" th:href="@{/tombealby}"><strong>Click here</strong><br>To return to: Home Page</a>

<div class="headingContainer">

<h1>Tom Bealby</h1>

<h2>tom.bealby@outlook.com</h2>

</div>

<p id="farmingPageHeading" class="mainHeading">Farming Memories</p>

<p class="summary">I grew up on a family farm at Surfleet in South Lincolnshire. It was an
arable farm growing cereals, potatoes, sugar beet and vegetables. The following are some 
pictorial memories of life on the farm.</p>

<h2>The Fifties, Sixties and Seventies</h2>

<p class="summary">The farm got its first combine harvester in 1950. The combine needed two
people to operate it. As well as the driver, someone had to bag up the grain and drop the
full bags down a shute for later collection.</p>

<div class="flex-container">

<div class="imagecontainer">
	<img src="/images/combine_with_bagger.jpg" alt="combining in the 1950s">
</div>

<div class="imagecontainer">
	<img src="/images/combine_with_bagger_2.jpg" alt="combining in the 1950s">
</div>

</div>

<p class="summary">Potatoes were picked by hand in the 1950's. This was back breaking work.
Here we see the harvesting gang taking a well earned rest and some refreshments.</p>

<div class="imagecontainer">
	<img src="/images/break_from_hand_picking_potatoes.jpg" alt="break from hand picking potatoes">
</div>

<p class="summary isDisplayForMediumScreensAndLarger">By the early 1960's potato growing was becoming more mechanised. In the photo on
the left below, potatoes are being planted. The tractor driving towards the camera is pulling a cultivator. The cultivator is breaking
up the big lumps in the soil to create a fine tilth. Creating a fine tilth helped crop growth during the season and made
harvesting easier later in the year. The machine on the left in the same photo, which is driving away from the camera, is
planting potatoes.</p>

<p class="summary isDisplayForSmallScreensOnly">By the early 1960's potato growing was becoming more mechanised. In the photo
below, potatoes are being planted. The tractor driving towards the camera is pulling a cultivator. The cultivator is breaking
up the big lumps in the soil to create a fine tilth. Creating a fine tilth helped crop growth during the season and made
harvesting easier later in the year. The machine on the left, which is driving away from the camera, is planting potatoes.</p>

<p class="summary isDisplayForMediumScreensAndLarger">The photo on the right below is of an early potato harvester. The five
people standing on the machine are sorting potatoes from soil.</p>

<div class="flex-container">

<div class="imagecontainer">
	<img src="/images/potato_planting_1950s.jpg" alt="planting potatoes circa 1960">
</div>

<p class="summary isDisplayForSmallScreensOnly">This is a photo of an early potato harvester. The five people standing
on the machine are sorting potatoes from soil.</p>

<div class="imagecontainer">
	<img src="/images/first_potato_harvester.jpg" alt="first potato harvester">
</div>

</div>

<p class="summary">The farm grew vining peas for a few years in the 1970s. The peas were
sold to Birds Eye to make frozen peas. It was vital that the peas got to the pea
factory as soon as possible after they were picked. Here we see a photo of a trailer of
peas being tipped into a lorry. The lorry will shortly be on its way to the pea factory.</p>

<div class="imagecontainer">
	<img src="/images/pea_harvest_in_the_seventies.jpg" alt="pea harvest">
</div>

<h2>The Eighties and Nineties</h2>

<p class="summary">Onion drilling was one of the first outside jobs of the year. We would drill
any time from the middle of March onwards, providing the soil conditions were suitable. Tiny onions seeds are
fragile, so its important that they are planted into a soil that has a fine tilth. If this doesn't
happen the seeds can die through lack of moisture. The drill coulters blocked occasionally. Someone rode
on the back of the drill to check that the seed was flowing correctly.</p>

<div class="imagecontainer">
	<img src="/images/onion_drilling.jpg" alt="onion drilling">
</div>

<p class="summary">Things didn't always go to plan on the farm. Here is a photo of a cart of
seed potatoes ready to take out to the fields for potato planting. The seed potatoes are contained
in plastic trays. The trays have been stacked in columns on the cart. Unfortunately the trays
weren't roped onto the cart securely enough. A bump in the road has caused the stacks to fall over.
To clarify things, a 'seed' potato isn't literally a seed. Its a potato kept from the previous year's
crop, which was too small to eat.</p>

<div class="imagecontainer">
	<img src="/images/potato_planting_problem_in_the_eighties.jpg" alt="seed potatoes falling off a trailer">
</div>

<p class="summary">The seed potatoes were stored in trays over winter to allow the potatoes to start
sprouting. The aim was for each seed potato to have a short strong sprout at the time that it was planted.
This effectively extended the growing season and resulted in more potatoes being harvested in the autumn.
Tipping the potatoes out of the trays into the potato planter was a labour intensive job. This is what is
being done in the photo below.</p>

<div class="imagecontainer">
	<img src="/images/loading_the_potato_planter.jpg" alt="loading the potato harvester with seed potatoes">
</div>

<p class="summary">The following photo shows potatoes being planted. Potato planting took place straight after
the onions were drilled.</p>

<div class="imagecontainer">
	<img src="/images/potato_planting_cinder_rd.jpg" alt="potato planting">
</div>

<p class="summary">The farm was able to irrigate from the mid 1980s. This was a big advantage
if the season was dry. However irrigating was expensive, and only crops with potential high value
like potatoes and onions justified the expense. Here we can see potatoes being irrigated.</p>

<div class="imagecontainer">
	<img src="/images/irrigating_potatoes.jpg" alt="irrigating potatoes">
</div>

<p class="summary">The combine harvesters got bigger and more reliable as time passed. The photos
below show a combine that we bought second hand at a local farm sale in 1990. The combine was
made by the American firm John Deere. It was over 10 years old when we bought it, but was a
very reliable machine and we used it for several years.</p>

<div class="flex-container">

<div class="imagecontainer">
	<img src="/images/wheat_harvest_975.jpg" alt="combine harvester at work">
</div>

<div class="imagecontainer">
	<img src="/images/wheat_harvest_975_unloading.jpg" alt="combine harvester unloading into a trailer">
</div>

</div>

<p class="summary">Potato picking was our busiest time of the year. The potato harvest started
in middle of September. If the harvest went well we would finish picking around the middle of October.
However the harvest was very weather dependent. If the weather turned wet, the soil turned to mud and
stuck to the potatoes as they were lifted out of the ground. Sorting the mud from the potatoes was
hard work for both the potato harvester machine and for the people working on the harvester.</p>

<div class="flex-container">

<div class="imagecontainer">
	<img src="/images/clod_picking_on_reekie.jpg" alt="potato picking with Reekie potato harvester">
</div>

<div class="imagecontainer">
	<img src="/images/potato_picking_1992.jpg" alt="potato picking in 1992">
</div>

</div>

<p class="summary">Sugar beet harvesting machinery is big and expensive. We did not
grow enough sugar beet to justify owning our own sugar beet harvester. Therefore we paid
a local contractor to harvest our sugar beet. The photo below shows the sugar beet being
harvested.</p>

<div class="imagecontainer">
	<img src="/images/sugar_beet_harvest.jpg" alt="sugar beet harvesting">
</div>

<h2>The Noughties</h2>

<p class="summary">Back in the day I used to go to work in a boiler suit and a silly hat. Here's
a family photo from about the year 2000.</p>

<div class="imagecontainer">
	<img src="/images/family_photo.jpg" alt="family photo around 2000">
</div>

<p class="summary">I worked on the farm for many years. But by 2001 I had realised that
I wasn't very good at farming and that I wasn't enjoying it either. It was time for someone
else to have a go. The following photos are from the farm machinery sale that we held in
March 2002. This brought to an end one hundred and fifty years of the Bealbys farming at
Surfleet.</p>

<div class="imagecontainer">
	<img src="/images/farm_sale_tractor.jpg" alt="farm sale - tractor">
</div>

<div class="flex-container">

<div class="imagecontainer">
	<img src="/images/farm_sale_conveyor.jpg" alt="farm sale - conveyor">
</div>

<div class="imagecontainer">
	<img src="/images/farm_sale_potato_planter.jpg" alt="farm sale - potato planter">
</div>

</div>

<p class="authoredBy">By: Tom Bealby - 17 September 2023</p>

<h2>&copy; 2023 Tradeway Software Systems<h2/>
</body>
</html>