<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-DWPXDV0RGN"></script>
	<script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-DWPXDV0RGN'); </script>
    <title>Tom Bealby Blogs</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="Tom Bealby Blogs">
  	<meta name="author" content="Tom Bealby">
    <link media="all" rel="stylesheet" type="text/css" href="/css/tom.css" />
</head>
<body>

<div  id="blogs" class="tabcontent" th:fragment="blogs">

<h2 id="blogsPageHeading">Blogs</h2>

<button type="button" class="collapsible"><strong>Click here</strong> To read a blog written in 2018 while working at Centiq: My Job as a Problem Solver</button>

<div class="content">
  <p><div th:replace="fragments/tombealby/blogs/problemSolver :: problemSolver"></div></p>
</div>

<button type="button" class="collapsible"><strong>Click here</strong> To read blog: Tom Sharpe, A Family Tragedy</button>

<div class="content">
  <p><div th:replace="fragments/tombealby/blogs/familyTragedy :: familyTragedy"></div></p>
</div>

<button type="button" class="collapsible" th:if="${#bools.isTrue(isViewBlogsHome)}">
<strong>Click here</strong> To read blog: Technical Book Reviews</button>

<div class="content" th:if="${#bools.isTrue(isViewBlogsHome)}">
  <p><div th:replace="fragments/tombealby/blogs/bookreviews :: bookreviews"></div></p>
</div>

<button type="button" class="collapsible"><strong>Click here</strong> To read blog: Why And How This Web Site Was Built</button>

<div class="content">
  <p><div th:replace="fragments/tombealby/blogs/howTheWebsiteWasBuilt :: howTheWebsiteWasBuilt"></div></p>
</div>

<button type="button" class="collapsible"><strong>Click here</strong> To read blog: Code Reviews, My Dos and Don'ts</button>

<div class="content">
  <p><div th:replace="fragments/tombealby/blogs/codeReviews :: codeReviews"></div></p>
</div>

<button type="button" class="collapsible"><strong>Click here</strong> To read blog: Lessons Learnt As A Senior Developer</button>

<div class="content">
  <p><div th:replace="fragments/tombealby/blogs/seniorDeveloper :: seniorDeveloper"></div></p>
</div>

<button type="button" class="collapsible"><strong>Click here</strong> To read blog: Junior Developer Saves The Day</button>

<div class="content">
  <p><div th:replace="fragments/tombealby/blogs/juniorDeveloper :: juniorDeveloper"></div></p>
</div>

<p class="photoAcknowledgements">Photo Acknowledgements: Paweł Hunterowy (pexels.com); Karolina Grabowska (pexels.com)</p>

</div>

</body>
</html>