<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tom Bealby Blogs</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link media="all" rel="stylesheet" type="text/css" href="/css/tradewaysoftwaresystems.css" />
</head>
<body class="blogsHome">

<h1>Tom Bealby</h1>

<h2 class="email">email: tom.bealby67@gmail.com</h2>

<div th:replace="fragments/tombealby/blogs/blogs :: blogs"></div>

<div class="imagecontainer">
    <img src="/images/my_photo.jpg" alt="Tom Bealby">
</div>

<h2 class="watermark">&copy; 2023 Tradeway Software Systems<h2/>
<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}

var element = document.getElementById("bookreviews");
element.classList.remove("tabcontent");

</script>
</body>
</html>