<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Tom Bealby CV</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link media="all" rel="stylesheet" type="text/css" href="/css/tom.css" />
</head>
<body>

<div  id="bookreviews" class="tabcontent" th:fragment="bookreviews">

<h2>Book Reviews</h2>

<p class="summary">I have read many technical books over the years. This page lists books that I recommend.
The books have been listed in rough chronological order in terms of when I read them.</p>

<div class="imagecontainer">
    <img src="/images/books_stacked.jpg" alt="stack of books">
</div>

<h3>Books read early in my career</h3>
<p class="bookreviewsubheading">You might consider reading these books if you are starting your development career.</p>
<p>
<ul class="bookreviews">
<li>SCJP Sun Certified Programmer for Java 6 Study Guide
by Kathy Sierra.</li>
<p>I read this book as preparation for taking the SCJP exam. The book and the exam gave an excellent
understanding in the mechanics of Java. Even if you don't take the exam, I think any Java developer
starting their career would greatly benefit from reading the book. The book gives an excellent
understanding of the basics of Java, which has helped me immensely throughout my career.</p>
<li>Beginning SQL Server 2005 Programming by Robert Vieira</li>
<p>This book teaches the fundamentals of SQL extremely well. The examples are based on SQL Server, 
but the concepts apply equally to other relational databases like MySQL and Oracle. This is another
book that played an important part in laying the foundations for my career.</p>
<li>Javascript: The Definitive Guide by David Flanagan</li>
<p>I was struggling with Javascript before I read this book. Its a lengthly book and requires some
effort to complete. However the effort is well rewarded by making Javascript much easier to use.</p>
</ul>
</p>

<h3>Books read a few years into my career</h3>
<p class="bookreviewsubheading">You might consider reading these books if you are looking to consolidate your development career.</p>
<p>
<ul class="bookreviews">
<li>Spring in Action by Craig Walls</li>
<p>When I first read this book I was disappointed. I was hoping that I would be an expert in
Spring after reading the book. However I now think this was an unrealistic expectation. Spring
is so vast, I don't think any book can make you an expert overnight. This book is probably the
best out there that covers Spring.</p>
<li>Head First Design Patterns by Eric Freeman et al.</li>
<p>I have read many books in the Head First series and they are nearly all worth the read. My favourite
Head First Book is Head First Servlets and JSP, but JSPs are old hat these days and so I have listed
Design Patterns. This book explains design patterns in that unique Head First style of making learning fun.
Head First HTML and CSS is also very good.</p>
<li>Mastering Regular Expressions by Jeffrey Friedl.</li>
<p>This book explains a complex subject very well. It is not an easy read, but that is because the subject 
matter is difficult. Before I read this book I was always uneasy about tackling problems involving regular
expressions because I never felt I understood the subject adequately. Since reading this book I
have enjoyed tackling issues involving regular expressions because I have confidence that I
understand how regular expressions work.</p>
<li>Foundations of Security: What every programmer needs to know by Daswani, Kern and Kesavan.</li>
<p>For me, any developer serious about his craft should understand some security. This book gives
a great introduction to this important subject.</p>
<li>The Design of Web APIs by Arnaud Lauret.</li>
<p>This book provided very helpful guidance when I needed to create a new REST API. In particular, I learnt 
the necessity of a client centred approach to good API design. This book is well written and an enjoyable read.</p>
<li>Refactoring: Improving the Design of Existing Code by Martin Fowler.</li>
<p>This book made me reconsider my approach to software development. I should have read it years
earlier.</p>
<li>Clean Code by Robert Martin.</li>
<p>I am a fan of Uncle Bob. I like his YouTube talks and I like his books. If all programmers followed 
the practices in this book then I think all our lives would be easier.</p>
<li>How to Make Friends and Influence People by Dale Carnegie.</li>
<p>What? Why I am including this book in a review of technical programming books? Well software development,
like it or not, is a social activity. Not all the people we meet will be easy to work with. The ideas
in this book will help us interact with our colleagues and make our general day to day lives easier
and more enjoyable. If you haven't already read this book, it might be worth giving it a try?</p>
</ul>
</p>

<h3>Books read later in my career</h3>
<p>
<ul class="bookreviews">
<li>Cloud Native Patterns by Cornelia Davis</li>
<p>A very well written book explaining modern techniques for deploying applications on
the cloud. Includes code examples which were fun to try and consolidated my understanding
of the topics under discussion. Ms Davis is a great teacher.</p>
<li>Refactoring SQL Applications by L'Hermite and Faroult</li>
<p>This book was a huge help when I was placed in a team tasked to improve the performance of
a decent sized application which used an Oracle database. It explained many new aspects of approaching the
task of improving performance. These aspects would never have occurred to me if I hadn't read the book.</p>
<li>Designing Data-Intensive Applications: The Big Ideas Behind Reliable, Scalable, and Maintainable Systems by Martin Kleppmann</li>
<p>Not an easy book to read, but extremely informative giving a deep understanding of modern
software systems. The chapter that details the issues that can arise with concurrent threads
accessing a database has helped me fix some tricky bugs. One of my favourite books.</p>
<li>Software Architecture: The Hard Parts by Ford, Richards and Sadalage</li>
<p>I enjoyed this book. It helped me understand the architectural tradeoffs that affect
the non-functional requirements of software systems.</p>
</ul>
</p>

<div class="imagecontainer">
    <img src="/images/books_1.jpg" alt="old books">
</div>

<div th:if="${#bools.isTrue(isViewBlogsHome)}">
<p class="authoredBy">By: Tom Bealby - January 2023</p>
</div>

</div>

</body>
</html>