<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Tom Bealby CV</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div  id="bookreviews" class="tabcontent" th:fragment="bookreviews">

<p class="mainHeading">Book Reviews</p>

<p class="summary">I have read many technical books over the years. This page lists books that I recommend.
Several of the books cover the basics of particular aspects of software development. For example I have included
the books from which I learnt the core principles of Java, SQL and Javascript when beginning my development career.
This is because I believe that having a thorough understanding of the fundamentals is crucial in writing professional
standard software. If you understand the basics, then Google is often sufficient to solve harder problems. However,
without a thorough understanding the basic concepts, there is the danger that we build on sand, ending up 'programming
by coincidence' [see the listed book below 'The Pragmatic Programmer' for programming by coincidence].</p>

<div class="imagecontainer">
    <img src="/images/books_2.jpg" alt="my programming books">
</div>

<h3>Books read early in my career</h3>
<p class="bookreviewsubheading">You might consider reading these books if you are starting your development career.</p>
<p>
<ul class="bookreviews">

<li>SCJP Sun Certified Programmer for Java 6 Study Guide
by Kathy Sierra.</li>
<p>The material in this book is essential knowledge for any Java developer. The following list
gives a flavour of the topics covered - object construction rules, inheritance and polymorphism,
rules for overriding methods, object equality rules and their consequences, generics, pass by
value versus pass by reference, anonymous classes, enums and threading. These are concepts that
arise day in, day out, in Java development. The book explains the concepts very well. The
sample exam questions provided at the end of each chapter are very helpful in consolidating
understanding.</p>
<p>The understanding that I gained by reading this book has helped me immensely throughout my career.</p>

<li>Beginning SQL Server 2005 Programming by Robert Vieira</li>
<p>This book teaches the fundamentals of SQL extremely well. It starts at beginner level by explaining the
SELECT, INSERT, UPDATE and DELETE statements. It then gradually introduces more advanced concepts by
building on what has been taught before. We soon progress to JOIN and subqueries, followed by database
design and normalization. Later the book covers views, stored procedures, functions, triggers and
transactions. Readers are encouraged to get their hands dirty, by playing with the SQL code examples given,
on their own database. I found this teaching style very beneficial.</p>
<p>For developers who are working with an Oracle database, the book 'Mastering Oracle SQL' by Mishra
and Beaulieu does a similar job to 'Beginning SQL Server 2005 Programming', by progressing a beginner to
intermediate level SQL. I would recommend either book to someone starting out on SQL.</p>

<li>Javascript: The Definitive Guide by David Flanagan</li>
<p>This is a book of two halves. The first half covers the fundamental principles of the Javascript language.
We learn about types, values, variables, expressions, operators, statements, objects, arrays and functions.
There is alot of material here. I found that it was well worthwhile taking time to understand these details.
The second half of the book covers the use of Javascript in web pages. It explains how to use Javascript to
script HTML content, CSS presentation and to define behaviour using event handlers.</p>
<p>This book was invaluable in giving me a good understanding of how to work with Javascript.</p>

</ul>
</p>

<h3>Books read a few years into my career</h3>
<p class="bookreviewsubheading">You might consider reading these books if you are looking to consolidate your development career.</p>
<p>
<ul class="bookreviews">

<li>Spring in Action by Craig Walls</li>
<p>This book is probably the best out there that covers Spring. I read the second edition many years ago. However
Spring is constantly changing, so this is a case where it pays to get the latest edition of the book. The
second edition gives a good explanation of Spring containers, dependency injection, aspect orientated programming,
database access using JDBC Template, Spring MVC and Spring web services.
<p>You won't be a Spring expert after reading this book. Spring is so vast, that expecting any book to make you
an expert is unrealistic. You will, however, have a good understanding of the fundamental concepts of the Spring
framework. This will stand you in good stead for your future work with Spring.</p>

<li>Head First Design Patterns by Eric Freeman et al.</li>
<p>I have read many books in the Head First series and they are nearly all worth the read. My favourite
Head First Book is Head First Servlets and JSP, but JSPs are old hat these days and so I have listed
Design Patterns. This book explains design patterns in that unique Head First style of making learning fun.
Head First HTML and CSS is also very good.</p>

<li>Mastering Regular Expressions by Jeffrey Friedl.</li>
<p>The book starts by explaining how regular expressions (regex) are built by combining small building blocks.
These building blocks include literals, metacharacters, character classes, quantifiers, parenthesis and back
references. It then takes a deep dive into the mechanics of how a regex engine carries out a search. It explains
how the engine makes its choices. Why does it attempt to find a match down one particular path before it tries
another path? It was hard work going through these tiny steps of the search process. However, after completing
this exercise, I felt that I had a really good understanding of how regular expressions work.</p>
<p>The book also explains the efficiency of the regex search. This includes writing the regex pattern in such a
way that the search fails fast, when no match is possible. Efficiency is not just of theoretical interest. I have
seen a production bug where the application appeared to freeze occasionally when processing particular requests.
It turned out that the issue was caused by using an inefficient regex pattern.</p>

<li>Foundations of Security: What every programmer needs to know by Daswani, Kern and Kesavan.</li>
<p>The book begins by describing some fundamental security principles. We learn about the principle of least privilege,
the importance of defence in depth, and how attackers target the weakest link.</p>
<p>A large part of the book is given to a discussion of common security vulnerabilities. There is advice on password
management and on good security related coding practices. Considerable attention is given to web application security. Denial
of service attacks are explained and advice on mitigation provided. There is a chapter on SSL and encryption.
The book also lays to rest some common misconceptions. We learn why input validation is not the best defence against
either cross site scripting or SQL injection.</p>
<p>This is a well written book. The concepts are clearly explained. The book lives up to its title. The issues discussed
are what every programmer needs to know.</p>

<li>The Design of Web APIs by Arnaud Lauret.</li>
<p>This book provided very helpful guidance when I needed to create a new REST API. I learnt that APIs should be built
using a client centred approach. This will result in the API being easy for clients to understand and use. We need to ask
what do the clients need from the API? How can the API be designed to make the life of the client easier?</p>
<p>The book describes the steps to create an API. It discusses initial requirements gathering, identifying API goals,
translating the goals into APIs, identifying inputs and outputs of the API, and much more.</p>
<p>There is a very good explanation of REST principles. There is also advice on building extensible APIs, providing
backwards compatibility, API security, network efficiency, API versioning and documentation.</p>

<li>Refactoring: Improving the Design of Existing Code by Martin Fowler.</li>
<p>Refactoring is the process of changing code to make it easier to understand, maintain and extend. The changes are
made so that the behaviour of the code remains the same. It is important that the changes are made in a systematic manner. It
is the use of the systematic manner that ensures that the changes are made quickly and accurately.</p>
<p>Good test coverage is essential before starting to refactor. The refactoring can then be applied as a series of steps.
Each step consists of a small code change, followed by a run of the tests. This technique ensures that fixing any
broken tests will be easy. This is because we know to look in the small piece of code just altered, to find the cause
of the test failures.</p>
<p>The book begins by explaining some refactoring principles. After that, the bulk of the book provides a catalog of
refactorings. Each catalog entry describes a common code problem, along with a series of steps to resolve the problem.</p>
<p>This book is very well written. The concepts are clearly explained in an interesting manner. It is a book to be
revisited for a reminder of the good practices that it teaches. The book contains some content overlap with another
book in this review, 'Clean Code'. However this is such an important subject that I suggest it is worthwhile to read
both books.</p>

<li>Clean Code by Robert Martin.</li>
<p>I am a fan of Uncle Bob. I like his YouTube talks and I like his books. This book gives excellent advice on producing
and maintaining good quality code.</p>
<p> Some of this advice is well known. I would expect most developers to use meaningful object names, understand the
Single Responsibility Principle, and to avoid writing duplicate code. However the book also contains plenty of advice
which isn't so well known. For example I now appreciate the importance of having all statements in a function at the
same level of abstraction. I now have a much better understanding of how to write clean tests.</p>
<p>This book has made me reconsider how I write code.</p>

<li>The Pragmatic Programmer by Andrew Hunt and David Thomas</li>
<p>One of the easier reads out of the books listed in this review. The book gives a reminder of some of the things
we should all be doing as software developers. For example there is advice on building your knowledge portfolio,
automating tasks, debugging strategies, testing and estimating. I especially like the sections on Rubber Ducking and
Programming by Coincidence.</p>

<li>How to Make Friends and Influence People by Dale Carnegie.</li>
<p>What? Why I am including this book in a review of technical programming books? Well software development,
like it or not, is a social activity. Not all the people we meet will be easy to work with. The ideas
in this book will help us interact with our colleagues and make our general day to day lives easier
and more enjoyable. If you haven't already read this book, it might be worth giving it a try?</p>

</ul>
</p>

<h3>Books read later in my career</h3>
<p>
<ul class="bookreviews">

<li>Cloud Native Patterns by Cornelia Davis</li>
<p>There are many potential benefits from deploying applications to the cloud. Scalability, fault tolerance
and cost savings, to name a few. However deploying to the cloud also brings complications. A key theme through
out this book is the need to build systems that can cope with uncertainty. Servers can do down, networks can drop,
demand can spiral, but our systems need to cope.</p>
<p>The book gives practices and patterns that can be used to cope with this uncertainty. A good example is 'snowflakes'.
By 'snowflakes' we mean issues caused by inconsistency across environments - the 'it works on my machine' problem.
Automation in general, and containers in particular, have an important role to play in mitigating snowflakes.</p>
<p>The book explains how applications can be written to facilitate running on the cloud. Topics discussed include
stateless applications, configuration management, event driven computing, retries and circuit breakers. Running
the code samples given in the book helped consolidate my understanding. This is a very good book.</p>

<li>Refactoring SQL Applications by L'Hermite and Faroult</li>
<p>This book is full of practical advice on how to improve the performance of applications that use relational databases.
Two main strategies to improve performance are proposed. These strategies are statement refactoring and task
refactoring.</p>
<p>Statement refactoring is the traditional approach to fixing performance issues. Measure how long the SQL statements
take to execute. Refactor the slow statements to make them run faster. A technique is given for breaking down a
complex statement into smaller parts. Those smaller parts can then be reassembled in a new way that gives better
performance. Many other innovative ideas are given.</p>
<p>Task refactoring is often neglected or ignored by teams seeking performance improvements. However this can be a
big mistake. Task refactoring involves analysing the code paths executed by the application to provide its business
behaviour. Can these paths be refactored in a way that improves performance? This will likely involve changes that
reduce the number of database calls made by the application. Again lots of ideas are given. What I have mentioned
in this review is just the tip of the iceberg.</p>

<li>Designing Data-Intensive Applications: The Big Ideas Behind Reliable, Scalable, and Maintainable Systems by Martin Kleppmann</li>
<p>As Developers, it is easy for us to use data storage tools with our applications, without understanding the
internal workings of those tools. For example, our application might store its data in a database, but we probably
don't understand how the data is persisted on disk, or replicated across nodes. This book explains those internal
workings. It shows how those workings constrain the capability of the tool. The constraints become important when
the system is put under stress. Stress might be caused by sheer volume of data, mechanical failure (eg disk failure
or network drop), or even malicious intent.</p>
<p>The book explains how, by careful choice of data storage tool and tool setup, we can build a system that most
closely provides our data requirements. For example we learn how partitioning data across multiple nodes can address
performance issues caused by large data volumes. We learn how transactions can be used to mitigate data integrity
issues caused by concurrency. We learn how database isolations levels effect performance and data integrity. The
capabilities of a traditional messaging system are compared to those of a log based messaging system like Kafka.</p>
<p>Architects will need to understand the material in this book so that they can make informed decisions when
designing a system. Developers will need to understand the material in order to understand, and then resolve, data
issues that arise when the system is running.</p>

<li>Software Architecture: The Hard Parts by Ford, Richards, Sadalage and Dehghani</li>
<p>This book teaches an approach to architectural decision making based on trade-off analysis. For example is a synchronous
or asynchronous communication style most appropriate for communication between two microservices? If performance and fault
tolerance are a priority for the application, then an asynchronous communication style might be most appropriate. However, if
the data needs to be consistent at all times, synchronous communication might be required. The key point is that the best
choice when making an architectural decision will often be determined by the business requirements of the application.</p>
<p>A common theme discussed in the book is how can we determine the appropriate size of a microservice. Techniques are given
to objectively assess as to whether it realistic to break an application into smaller parts. A systematic method of splitting
an application is given, as well as approaches to decomposing databases into smaller parts.</p>
<p>The book gives a very valuable insight into modern software architecture decision making.</p>

</ul>
</p>

<div class="imagecontainer">
    <img src="/images/books_3.jpg" alt="my programming books">
</div>

<p class="photoAcknowledgements">Photo Acknowledgements: pexels.com</p>

<div th:if="${#bools.isTrue(isViewBlogsHome)}">
<p class="authoredBy">By: Tom Bealby - January 2023</p>
</div>

</div>

</body>
</html>