<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Tom Bealby CV</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link media="all" rel="stylesheet" type="text/css" href="/css/tom.css" />
</head>
<body>

<div  id="bookreviews" class="tabcontent" th:fragment="bookreviews">

<h2>Book Reviews</h2>

<p class="summary">I have read many technical books over the years. This page lists books that I recommend.
Many of the books cover the basics of particular aspects of software development. For example I have included
the books from which I learnt the core principles of Java, SQL, Javascript, regular expressions and other
concepts. This is because I believe that having a thorough understanding of the fundamentals is crucial in writing
professional standard software. If you understand the basics, then Google is often sufficient to solve harder
problems. However, without a thorough understanding the basic concepts, there is the danger that we build
on sand, ending up 'programming by coincidence' [see the listed book below 'The Pragmatic Programmer' for
programming by coincidence].</p>

<p class="summary">The books have been listed in rough chronological order in terms of when I read them. </p>

<div class="imagecontainer">
    <img src="/images/books_stacked.jpg" alt="stack of books">
</div>

<h3>Books read early in my career</h3>
<p class="bookreviewsubheading">You might consider reading these books if you are starting your development career.</p>
<p>
<ul class="bookreviews">
<li>SCJP Sun Certified Programmer for Java 6 Study Guide
by Kathy Sierra.</li>
<p>The material in this book is essential knowledge for any Java developer. The following list
gives a flavour of the topics covered - object construction rules, inheritance and polymorphism,
rules for overriding methods, object equality rules and their consequences, generics, pass by
value versus pass by reference, anonymous classes, enums and threading. These are concepts that
arise day in, day out, in Java development. The book explains the concepts very well. The
sample exam questions provided at the end of each chapter are very helpful in consolidating
understanding.</p>
<p>The understanding that I gained by reading this book has helped me immensely throughout my career.</p>
<li>Beginning SQL Server 2005 Programming by Robert Vieira</li>
<p>This book teaches the fundamentals of SQL extremely well. It starts at beginner level by explaining the
SELECT, INSERT, UPDATE and DELETE statements. It then gradually introduces more advanced concepts by
building on what has been taught before. We soon progress to JOIN and subqueries, followed by database
design and normalisation. Later the book covers views, stored procedures, functions, triggers and
transactions. Readers are encouraged to get their hands dirty, by playing with the SQL code examples given,
on their own database. I found this teaching style very beneficial.</p>
<p>For developers who are working with an Oracle database, the book 'Mastering Oracle SQL' by Mishra
and Beaulieu does a similar job to 'Beginning SQL Server 2005 Programming', by progressing a beginner to
intermediate level SQL. I would recommend either book to someone starting out on SQL.</p>
<li>Javascript: The Definitive Guide by David Flanagan</li>
<p>This is a book of two halves. The first half covers the fundamental principles of the Javascript language.
We learn about types, values, variables, expressions, operators, statements, objects, arrays and functions.
There is alot of material here. I found that it was well worthwhile taking time to understand these details.
The second half of the book covers the use of Javascript in web pages. It explains how to use Javascript to
script HTML content, CSS presentation and to define behaviour using event handlers.</p>
<p>This book was invaluable in giving me a good understanding of how to work with Javascript.</p>
</ul>
</p>

<h3>Books read a few years into my career</h3>
<p class="bookreviewsubheading">You might consider reading these books if you are looking to consolidate your development career.</p>
<p>
<ul class="bookreviews">
<li>Spring in Action by Craig Walls</li>
<p>This book is probably the best out there that covers Spring. I read the second edition many years ago. However
Spring is constantly changing, so this is a case where it pays to get the latest edition of the book. The
second edition gives a good explanation of Spring containers, dependency injection, aspect orientated programming,
database access using JDBC Template, Spring MVC and Spring web services.
<p>You won't be a Spring expert after reading this book. Spring is so vast, that expecting any book to make you
an expert is unrealistic. You will, however, have a good understanding of the fundamental concepts of the Spring
framework. This will stand you in good stead for your future work with Spring.</p>
<li>Head First Design Patterns by Eric Freeman et al.</li>
<p>I have read many books in the Head First series and they are nearly all worth the read. My favourite
Head First Book is Head First Servlets and JSP, but JSPs are old hat these days and so I have listed
Design Patterns. This book explains design patterns in that unique Head First style of making learning fun.
Head First HTML and CSS is also very good.</p>
<li>Mastering Regular Expressions by Jeffrey Friedl.</li>
<p>The book starts by explaining how regular expressions (regex) are built by combining small building blocks.
These building blocks include literals, metacharacters, character classes, quantifiers, parenthesis and back
references. It then takes a deep dive into the mechanics of how a regex engine carries out a search. It explains
how the engine makes its choices. Why does it attempt to find a match down one particular path before it tries
another path? It was hard work going through these tiny steps of the search process. However, after completing
this exercise, I felt that I had a really good understanding of how regular expressions work.</p>
<p>The book also explains the efficiency of the regex search. This includes writing the regex pattern in such a
way that the search fails fast, when no match is possible. Efficiency is not just of theoretical interest. I have
seen a production bug where the application appeared to freeze occasionally when processing particular requests.
It turned out that the issue was caused by using an inefficient regex pattern.</p>
<li>Foundations of Security: What every programmer needs to know by Daswani, Kern and Kesavan.</li>
<p>The book begins by describing some fundamental security principles. We learn about the principle of least privilege,
the importance of defence in depth, and how attackers target the weakest link.</p>
<p>A large part of the book is given to a discussion of common security vulnerabilities. There is advice on password
management and on good security related coding practices. Considerable attention is given to web application security. Denial
of service attacks are explained and advice on mitigation provided. There is a chapter on SSL and encryption.
The book also lays to rest some common misconceptions. We learn why input validation is not the best defence against
either cross site scripting or SQL injection.</p>
<p>This is a well written book. The concepts are clearly explained. The book lives up to its title. The issues discussed
are what every programmer needs to know.</p>
<li>The Design of Web APIs by Arnaud Lauret.</li>
<p>This book provided very helpful guidance when I needed to create a new REST API. I learnt that APIs should be built
using a client centred approach. This will result in the API being easy for clients to understand and use. We need to ask
what do the clients need from the API? How can the API be designed to make the life of the client easier?</p>
<p>The book describes the steps to create an API. It discusses initial requirements gathering, identifying API goals,
translating the goals into APIs, identifying inputs and outputs of the API, and much more.</p>
<p>There is a very good explanation of REST principles. There is also advice on building extensible APIs, providing
backwards compatibility, API security, network efficiency, API versioning and documentation.</p>
<li>Refactoring: Improving the Design of Existing Code by Martin Fowler.</li>
<p>This book introduced me to the Red-Green-Refactor approach of making small changes to improve the maintainability of
existing code. The book lists many common code problems and gives ways that those problems
can be overcome. This book complements the next book in this review, 'Clean Code'. Both 'Clean Code' and 'Refactoring ..'
are excellent in giving methods to improve code maintainability, each giving their own angle on subject. This is such
an important subject that I suggest it is worthwhile to read both books.</p>
<li>Clean Code by Robert Martin.</li>
<p>I am a fan of Uncle Bob. I like his YouTube talks and I like his books. This is a very readable book which gives
excellent advice on producing and maintaining good quality code. In particular, I like the section that
emphasises the importance of having quality code in the tests.</p>
<li>The Pragmatic Programmer by Andrew Hunt and David Thomas</li>
<p>One of the easier reads out of the books listed in this review. The book gives a reminder of some of the things
we should all be doing as software developers. For example there is advice on building your knowledge portfolio,
automating tasks, debugging strategies, testing and estimating. I especially like the sections on Rubber Ducking and
Programming by Coincidence.</p>
<li>How to Make Friends and Influence People by Dale Carnegie.</li>
<p>What? Why I am including this book in a review of technical programming books? Well software development,
like it or not, is a social activity. Not all the people we meet will be easy to work with. The ideas
in this book will help us interact with our colleagues and make our general day to day lives easier
and more enjoyable. If you haven't already read this book, it might be worth giving it a try?</p>
</ul>
</p>

<h3>Books read later in my career</h3>
<p>
<ul class="bookreviews">
<li>Cloud Native Patterns by Cornelia Davis</li>
<p>A very well written book explaining modern techniques for deploying applications on
the cloud. Includes code examples which were fun to try and consolidated my understanding
of the topics under discussion. Ms Davis is a great teacher.</p>
<li>Refactoring SQL Applications by L'Hermite and Faroult</li>
<p>This book was a huge help when I was placed in a team tasked to improve the performance of
a decent sized application which used an Oracle database. It explained many new aspects of approaching the
task of improving performance. These aspects would never have occurred to me if I hadn't read the book.</p>
<li>Designing Data-Intensive Applications: The Big Ideas Behind Reliable, Scalable, and Maintainable Systems by Martin Kleppmann</li>
<p>Not an easy book to read, but extremely informative giving a deep understanding of modern
software systems. The chapter that details the issues that can arise with concurrent threads
accessing a database has helped me fix some tricky bugs. One of my favourite books.</p>
</ul>
</p>

<div class="imagecontainer">
    <img src="/images/books_1.jpg" alt="old books">
</div>

<div th:if="${#bools.isTrue(isViewBlogsHome)}">
<p class="authoredBy">By: Tom Bealby - January 2023</p>
</div>

</div>

</body>
</html>