<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Tom Sharpe, A Family Tragedy</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link media="all" rel="stylesheet" type="text/css" href="/css/tradewaysoftwaresystems.css" />
    <link media="screen and (min-width: 38em)" rel="stylesheet" type="text/css" href="/css/tradewaysoftwaresystems-mediumscreens.css" />
    <link media="screen and (min-width: 75em)" rel="stylesheet" type="text/css" href="/css/tradewaysoftwaresystems-largescreens.css" />
</head>   
   <body class="blogs">
   
   <div  id="familyTragedy" th:fragment="familyTragedy">
      <h2>Tom Sharpe, A Family Tragedy</h2>
      <div class="imagecontainer">
    	<img src="/images/tom_sharpe.png" alt="Tom Sharpe">
	  </div>

      <p class="summary">Tom Sharpe was the only child of my great aunt and uncle, Kath and Harry Sharpe. He was
      killed in a plane crash on 30th September 1943. The plane was returning from a bombing raid in Germany. It was
      a foggy night, and the crew got lost returning home. They crashed into a hill in North Lincolnshire. Tom was
      the plane's bomb aimer. He had moved from his normal flight position, to help the navigator work out where they
      were. Tom and the navigator were killed in the crash. The rest of the crew survived. Tom was twenty years old.</p>
      
      <div id="halifaxPlaneContainer" class="imagecontainer">
    	<img src="/images/plane.png" alt="Halifax Mark II bomber">
	  </div>
	  
	  <p class="summary">I knew Kath and Harry Sharpe as a boy. They lived next door to my grandparents in a village
	   near Grantham in Lincolnshire. My grandparents had moved next door to Kath and Harry when they retired. Granny
	   and Aunty Kath were sisters. We would often pop over to see Aunty Kath and Uncle Harry when visiting my
	   grandparents. At this time Kath and Harry would be in their late eighties and ninties. I remember Uncle Harry
	   sitting with a rug on his legs, near the fire, engrossed in watching the horse racing on tv. I remember 
	   Aunty Kath as a very kind, frail old lady.</p>
	   
	   <div>
    	<img src="/images/Aunty_Kath.png" alt="Aunty Kath">
	   </div>

	   <p class="summary">It was during this time that Aunty Kath gave me a small box. The box contained some belonging
	   of Tom Sharpe. It contained his war medals, airman's service book, driving licence, train tickets from Canada where
	   he did his flight training, death certificate and other items. Aunty Kath asked me to keep the box safe 'for her sake'. I
	   have still got the box. I am still keeping it safe.</p>
	   
	   <div>
    	<img src="/images/box.png" alt="box of items relating to Tom Sharpe">
	   </div>
	   
       <p class="authoredBy">By: Tom Bealby - 16 January 2023</p>

      </div>
   </body>
</html>