<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>The Why and How this application was built</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link media="all" rel="stylesheet" type="text/css" href="/css/tradewaysoftwaresystems.css" />
</head>   
   <body class="blogs">
   
   <div  id="howTheWebsiteWasBuilt" th:fragment="howTheWebsiteWasBuilt">
      <h2>The Why And How This Application Was Built</h2>
      
      <h4>Quick warning - if you are not a techie then you might want to skip this blog!</h4>

	  <h3>Why The Application Was Built</h3>
      <p class="summary">This application started off as a simple demonstration application that ran on Amazon Web Services (AWS).
      The main goal of the work was for me to learn AWS techniques and methods. After making the initial demonstration application and 
      deploying on AWS, I found that I was enjoying it too much, and that I wanted to build something a bit more meaningful. The
      demonstration application subsequently evolved in an application that distributes CVs and blogs.</p>

      <h3>How This Application Was Built</h3>
      
      <h4>Creating the Application Server</h4>
      <p class="summary">An AWS EC2 t2.micro free tier linux instance type was created to host the application. The
      instance was created with a security group containing two security group rules, one rule on port 80 with TCP
      protocol for HTTP access, and one rule on port 22 with TCP protocol for SSH access. Java 11, Maven and
      Git were installed on the instance.</p>
      
      <h4>Creating the Web Application</h4>
      <p class="summary"> The application is built using Spring Boot version 2.7.7 with Thymeleaf for rendering
      the web pages. It has no database, and the java code is trivially simple. There is slightly more complication
      in the CSS, javascript code and the use of thymleaf templates to create re-usable HTML.  
      The source code for the application can be found <a th:href="@{https://github.com/tombealby/aws_v1/tree/development}">here.</a></p>
   		
      <h4>Deploying the Application</h4>
      <p class="summary">I developed the application on my local laptop. The changes are pushed to Git. To deploy I
      use PuTTY to SSH onto the EC2 instance. I pull the latest source code from Git, build and run the project. When I first ran
      the application the application failed to start due to a permissions error on accessing port 80. Port 80 is a privileged port
      needing root user permission to access. Running the application as the root user was an unacceptable security risk. Therefore
      I switched the application to run on port 8080, and set port forwarding from port 80 to port 8080 on the EC2 instance using the following
      IP Tables command: <br><span class="code"># sudo iptables -t nat -A PREROUTING -p tcp --dport 80 -j REDIRECT --to-port 8080 </span></p>
 
 	  <h4>After Deployment Jobs</h4>
 	  
 	  <h5>Make the Application use a Domain Name</h5>
      <p class="summary">The service uses Amazon Route 53 to connect requests to the application server. This involved creating a 
      public hosted zone for my domain name in the AWS Management Console. After creating the public hosted zone, I created two record sets - 
      a record set of type A-IPv4 address using the EC2 instance public IP address, and a record set of type CNAME - Canonical name. After both record sets 
      have been created, I copied the four record values of type NS, and set those values as custom nameservers for the domain name in the 
      Domain Name provider's console.</p>
      
      <h5>Making the Website searchable in Google</h5>
      <p class="summary">A sitemap.xml file was made available in the root application directory. Then I pinged Google
      notification of the availability of the file by making the following request in a browser -<br>
      <span class="code">GET https://www.google.com/ping?sitemap=http://www.tradewaysoftsys.co.uk/sitemap.xml</span></p>

	  <h3>Acknowledgements</h3>
      <p class="summary">I would like to thank Tinku Dhupia of Tradeway Software Systems for providing
      Tradeway Software Systems' resources for building the application, and for her help, support and encouragement in the project.
      Tinku's guidance was crucial in helping me overcome several of the issues that I encountered in
      creating the AWS resource, and deploying the application.</p>
      
      <p class="authoredBy">By: Tom Bealby - 21 January 2023</p>

      </div>
   </body>
</html>