<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Junior Developer Saves The Day</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
   <body class="blogs">

   <div  id="juniorDeveloper" th:fragment="juniorDeveloper">
      <h2>Junior Developer Saves The Day</h2>

      <p class="summary">My first programming job was with the logistics company Kuehne and Nagel. I worked
      on software systems that tracked the movement of goods around the world. I was lucky to get the job. The
      people were nice and the company treated me well.</p>

      <div class="imagecontainer">
    	<img src="/images/container_ship.jpg" alt="container ship thanks to pexels-paweł-hunterowy-6144482">
	  </div>

      <h4>An Interesting Phone Call</h4>

      <p class="summary">In those early days I was very keen to learn. I arrived to work early and was often
      the last to leave. On one such occasion, when I was alone in the office in the evening, a phone started
      ringing. I ignored it to start with, but the phone kept on ringing. Eventually I picked up the call. It was
      a lady from the IT Support Helpdesk. There was a serious problem with the Canadian invoicing system. The system
      was meant to run overnight. But today it was crashing immediately on start up. It was a critical system.
      She needed someone to look into it straight away. Could I take a look? We agreed that I would do an initial
      investigation and get back to her.</p>

      <div class="imagecontainer">
    	<img src="/images/phone.jpg" alt="phone">
	  </div>

      <h4>Things Looking Tricky</h4>

      <p class="summary">I had never worked on the invoicing system before. However it soon became obvious that it was
      a highly complex system. There were many programs calling each other. The programs were very large. They had many
      subroutines, loops and GOTO commands. It looked like a nightmare! I tried unsuccessfully to reproduce the problem
      on my local machine. I had no idea of what might be causing the problem in Canada.
      </p>

      <p class="summary">I called the support lady back. I explained what I had done. The lady suggested I try
      debugging the system in the production Canadian environment. This was a surprise. I had the attitude that it was
      best to avoid going anywhere near production. However she persuaded me that it would be ok. It was unlikely I
      could make things worse than they currently were.</p>

      <h4>Desperate Measures</h4>

      <p class="summary">I started the invoicing system in production. I ran the code in debug mode, stepping through
      the code little by little, from one break point to the next. I expected to see the system crash out at any moment.
      If I could see where it crashed, I might be able to understand what was causing the problem. However the system
      didn't crash. It was just running from one break point to the next. I began increasing the gap between breakpoints.
      Surely it would crash out soon? But no, the system continued to run, printing invoices as if nothing was wrong.
      After a while, I decided to remove all breakpoints and let the code run. I then waited for the crash. But
      still no crash occurred.</p>

      <p class="summary">I rang back the support lady. I explained that I had left the system running in debug mode. I
      said that it was creating invoices correctly at the moment. However, because I hadn't fixed anything, I told her that
      I expected the system to crash out soon. What did she want me to do next? She told me to leave it for now, but that it
      would need looking at first thing the next day.</p>

      <h4>An Unexpected Outcome</h4>

      <p class="summary">Next morning I arrived at work expecting all hell to be let loose, with everyone trying frantically
      to fix the invoicing problem. However instead, all appeared normal. There was no mad panic. It seemed that nothing unusual
      was happening at all. It turned out that the invoicing system had continued to run all night. Everything had worked as
      required.</p>

      <p class="summary">I never did find out what caused the problem. I speculated afterwards that it was caused by a
      timing issue. Programs run slower in debug mode. Was it possible that by running things slower, some problem event was
      given time to complete? I really don't know.</p>

      <p class="summary">So that's how I fixed invoicing as a junior developer. It was 99% luck.</p>

      <div class="imagecontainer">
    	<img src="/images/sea_and_sun.jpg" alt="sea and sun thanks to pexels-karolina-grabowska-4711781">
	  </div>

      <p class="authoredBy">By: Tom Bealby - 27 May 2023</p>

      </div>
   </body>
</html>