<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Tom Bealby My Job as a Problem Solver</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>   
   <body class="blogs">
   
   <div  id="problemSolver" th:fragment="problemSolver">
      <h2>My Job as a Problem Solver</h2>
      <div class="imagecontainer">
    	<img src="/images/r_cube.png" alt="rubic cube">
	  </div>
      <h3>What is a Problem Solver?</h3>
      <p class="summary">Problem solvers. They say we are all problem solvers these days. 
      My job is computer programming. That feels like problem solving. As soon as we have solved one problem it is onto the next. 
      But what do you do if you get stuck on a problem? Maybe you are a genius programmer who never 
      gets stuck. For me, I get stuck embarrassingly often.</p>
      
      <h3>Here&#39;s what I do.</h3>
      <ol class="blogList">
         <li>Understand the problem. You can&rsquo;t fix the problem if you don&rsquo;t understand it properly in the first place. You might think that is obvious. But here at Centiq we spend time working out the problem, which is cheaper than fixing the wrong problem. </li>
         <li>Start with what you know. For example I need to fix the Jenkins build for the Sirportly backup job which failed last night. I don&rsquo;t even know what Sirportly is, let alone how to fix it. Help!!! But I have fixed other Jenkins jobs in the past and I have seen backups of other systems. I need to apply my previous similar experience to the new problem in whatever way I can. </li>
         <li>Try the simple things first. If there are some quick simple things that you think could cause the issue then check those first before diving deep into complicated code and analysis. </li>
         <li>Ask the programmer&#39;s best friend, Mr Google. If in doubt google, google, google. Chances are someone, somewhere has encountered the same or similar problem before. If you&rsquo;re in luck the solution is on the web, just waiting for you. </li>
         <li>Visualize, draw diagrams. Creating a pictorial representation of the issue can clarify what&rsquo;s happening. Pictures can show different angles of looking at the problem. This can reveal potential solution paths which were not known before. </li>
         <li>Take a break. Do something else for a while and come back to the problem later. I once solved a problem that I had been struggling over for four days while out on my lunchtime walk. </li>
         <li>Think &lsquo;broader, not deeper&rsquo;. This advice was given to me by my boss who is a chess player. In chess it doesn&rsquo;t pay to analyse ten moves deep down one particular sequence of moves. This is because your opponent can do something unexpected on their next move. Similarly with programming. Perhaps you have been trying a certain solution path for some time and keep getting nowhere. Then it might be time to try a completely different solution path rather than going further down your current path. </li>
         <li>Ask for help. Many programmers hate asking for help. They are afraid that they will look incompetent. But the key is not to worry about what other people think. The important thing is to fix the problem and to learn from that problem. </li>
         <li>Try things. Just staring at a problem never fixed anything. Keep trying different things. Sometimes the result from something you try is not what you expect. That unexpected result can lead to the solution. </li>
         <li>Stay with it. Albert Einstein said &lsquo;It&#39;s not that I&#39;m so smart, it&#39;s just that I stay with problems longer.&rsquo; We can&rsquo;t expect to solve everything at the first attempt. We need to persist even if the task feels like hitting your head against a brick wall. The solution, when found, is all the sweeter, when it was hard to find. </li>
      </ol>

      <p class="authoredBy">By: Tom Bealby - Developer at Centiq, 2018</p>

      </div>
   </body>
</html>