<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lessons Learnt As A Senior Developer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
   <body class="blogs">

   <div  id="seniorDeveloper" th:fragment="seniorDeveloper">
      <h2>Lessons Learnt As A Senior Developer</h2>

	  <h4>I Never Wanted To Be A Manager</h4>
      <p class="summary">I never chased a management position. In fact I took the opposite view. I was happy doing my
      own work as a mid-level developer. I enjoyed solving challenging technical problems and learning how software
      systems worked. I was happy to avoid the hassle of dealing with people.</p>
      <p class="summary">After many years developing, an opportunity arose, for me to move to a senior level.
      The rewards for the role were such that I felt compelled to try the role. I passed the interview and started the job.
      However the first year was tough. I faced many unexpected challenges. I made plenty of mistakes. What follows
      are some of the lessons that I learnt.</p>

      <div class="imagecontainer">
    	<img src="/images/manager.jpg" alt="manager thanks to pexels-andrea-piacquadio-3760067">
	  </div>

      <h4>Prioritise your work</h4>
      <p class="summary">The biggest difference I found when moving to senior level was the increase in requests for my
      time. At times it felt like there was a constant stream of requests for help. The requests might be that I give
      guidance on a technical decision, or perhaps more often, requests for help from less experienced developers. Like
      alot of developers, I find interruptions can be annoying. The forced context switch of responding to a request makes
      the task that you are currently working on harder.</p>
      <p class="summary">It took me a while to realise that dealing with requests on an ad hoc basis was not working for me.
      I was getting frustrated feeling that I could no longer do my core development work properly. Eventually I came up
      with a very simple system for handling the demands on my time. I started keeping a list of requests in a spreadsheet.
      Any request for me to do something goes into the spreadsheet. Often a request doesn’t need an immediate response. As long
      as the request is in the spreadsheet and gets addressed at some suitable point then that is fine. The spreadsheet
      also tells me when I am becoming overloaded with work. When this happens I will discuss it with my scrum master. The
      scrum master can decide whether to take some of the work off me. I found that the simple spreadsheet system made me feel
      in control and greatly reduced my stress.</p>

      <h4>You Will Get Less 'Me Time Coding'</h4>
      <p class="summary">The multiple demands on your time mean that the time you spend developing will reduce dramatically.
      Perhaps you will need to take on about 50% less development work than you did before. Similarly you will need to
      accept that some of the more interesting development jobs are probably not suitable for you any more. These are the
      types of jobs that need some significant uninterrupted time to work on. You won’t get the luxury of such uninterrupted
      time. Also you should expect to do more code reviews and less actual coding.</a></p>

      <div class="imagecontainer">
    	<img src="/images/pexels-lukas-574069.jpg" alt="developer coding thanks to pexels-lukas-574069.jpg">
	  </div>

      <h4>You Don't Know Everything. You Won't Be Making All The Technical Decisions</h4>
      <p class="summary">Remember as a senior developer, you won't know the answers to everything. Its fine to say that
      you don't know and that you will get back with an answer. Also you are not responsible for taking the high level
      technical decisions. This is going to be a group activity with the architect taking the lead role. You participate
      and help in arriving at the decision. But it is no more your responsibility to make that decision than other
      experienced members in the team.</p>

      <h4>Be Careful About How You Help Other Developers</h4>
      <p class="summary">Be careful how you help less experienced developers. You will be asked for help when other
      developers get stuck. The temptation is just to fix their issue because that is the quickest way. However that
      is not the quickest way in the long term. For the long term it is better to guide the other developer to find
      the solution. That way, the other developer learns how to approach the problem differently. They will learn new
      skills. This will mean that they don’t need so much help from you in the future. It helps if you enjoy helping
      others in this way.</p>

      <div class="imagecontainer">
    	<img src="/images/pexels-christina-morillo-1181263.jpg" alt="developers working together thanks to pexels-christina-morillo-1181263.jpg">
	  </div>

 	  <h4>Don't Worry About Whether Others Like You</h4>
      <p class="summary">Do not try to be popular or liked or to please other team members. Just act fairly and honestly.
      Whether other team members like you is out of your control, and is something you shouldn’t be concerned about.
      If you are successful it is likely that some people will view you as fair game to be shot at. Try to assess
      whether the criticisms of you are fair. If they are fair then its an opportunity to learn and improve. Sometimes
      criticisms can be unfair. In that case the criticism is a back handed compliment. Remember no one kicks a dead dog.</p>

      <p class="authoredBy">By: Tom Bealby - 29 April 2023</p>

      </div>
   </body>
</html>