<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tom Bealby Cricket Averages</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link media="all" rel="stylesheet" type="text/css" href="/css/tradewaysoftwaresystems.css" />
    <link media="screen and (min-width: 20em)" rel="stylesheet" type="text/css" href="/css/tradewaysoftwaresystems-mediumscreens.css" />
    <link media="screen and (min-width: 90em)" rel="stylesheet" type="text/css" href="/css/tradewaysoftwaresystems-largescreens.css" />

<style>
body, .tablecontainer tr {
  background-color: white;
  color: black;
}
</style>

</head>

<body class="cricketAveragesHome">

<!-- 
<h1>Tom Bealby</h1>

<h2 class="email">email: tom.bealby@outlook.com</h2>

<a class="tradewayLink backToHomePageLink" th:href="@{/tombealby}"><strong>Click here</strong><br>To return to: Home Page</a>

 -->
 
 <!-- 
 https://www.cricketwa.com/stats/batting/most-average/10/11808
 https://en.wikipedia.org/wiki/2023_Ashes_series
 https://www.sportskeeda.com/go/ashes/stats
 https://www.cricketworld.com/cricket/series/the-ashes-2023/stats/bowling-best-averages/127181
 
  -->
 
<div class="tablecontainer">
<table>
  <caption>ENGLAND - BATTING</caption>
  <tr>
    <th>Player</th>
    <th>T</th>
    <th>I</th>
    <th>NO</th>
    <th>R</th>
    <th>HS</th>
    <th>100s</th>
    <th>50s</th>
    <th>Avge</th>
  </tr>
  <tr>
    <td>Zak Crawley</td>
    <td>5</td>
    <td>9</td>
    <td>0</td>
    <td>480</td>
    <td>189</td>
    <td>1</td>
    <td>2</td>
    <td>53.33</td>
  </tr>
    <tr>
    <td>Joe Root</td>
    <td>5</td>
    <td>9</td>
    <td>1</td>
    <td>412</td>
    <td>118*</td>
    <td>1</td>
    <td>2</td>
    <td>51.50</td>
  </tr>
  <tr>
    <td>Ben Stokes</td>
    <td>5</td>
    <td>9</td>
    <td>0</td>
    <td>405</td>
    <td>155</td>
    <td>1</td>
    <td>2</td>
    <td>45.00</td>
  </tr>
  <tr>
    <td>Harry Brook</td>
    <td>5</td>
    <td>9</td>
    <td>0</td>
    <td>363</td>
    <td>85</td>
    <td>0</td>
    <td>3</td>
    <td>40.33</td>
  </tr>
  <tr>
    <td>Johnny Bairstow</td>
    <td>5</td>
    <td>9</td>
    <td>1</td>
    <td>322</td>
    <td>99*</td>
    <td>0</td>
    <td>3</td>
    <td>40.25</td>
  </tr>
  <tr>
    <td>Ben Duckett</td>
    <td>5</td>
    <td>9</td>
    <td>0</td>
    <td>321</td>
    <td>98</td>
    <td>0</td>
    <td>2</td>
    <td>35.67</td>
  </tr>
  <tr>
    <td>Moeen Ali</td>
    <td>4</td>
    <td>7</td>
    <td>0</td>
    <td>180</td>
    <td>54</td>
    <td>0</td>
    <td>1</td>
    <td>25.71</td>
  </tr>
  <tr>
    <td>Ollie Pope</td>
    <td>2</td>
    <td>4</td>
    <td>0</td>
    <td>90</td>
    <td>42</td>
    <td>0</td>
    <td>0</td>
    <td>22.50</td>
  </tr>
  <tr>
    <td>Mark Wood</td>
    <td>3</td>
    <td>5</td>
    <td>1</td>
    <td>83</td>
    <td>28</td>
    <td>0</td>
    <td>0</td>
    <td>20.75</td>
  </tr>
  <tr>
    <td>Chris Woakes</td>
    <td>3</td>
    <td>5</td>
    <td>1</td>
    <td>79</td>
    <td>36</td>
    <td>0</td>
    <td>0</td>
    <td>19.75</td>
  </tr>
  <tr>
    <td>Ollie Robinson</td>
    <td>3</td>
    <td>5</td>
    <td>2</td>
    <td>59</td>
    <td>27</td>
    <td>0</td>
    <td>0</td>
    <td>19.66</td>
  </tr>
  <tr>
    <td>Stuart Broad</td>
    <td>5</td>
    <td>8</td>
    <td>2</td>
    <td>78</td>
    <td>16</td>
    <td>0</td>
    <td>0</td>
    <td>13.00</td>
  </tr>
  <tr>
    <td>Josh Tongue</td>
    <td>1</td>
    <td>2</td>
    <td>0</td>
    <td>20</td>
    <td>19</td>
    <td>0</td>
    <td>0</td>
    <td>10.00</td>
  </tr>
  <tr>
    <td>James Anderson</td>
    <td>4</td>
    <td>6</td>
    <td>3</td>
    <td>28</td>
    <td>12</td>
    <td>0</td>
    <td>0</td>
    <td>9.33</td>
  </tr>
</table>
</div>

<!--
<div class="imagecontainer">
    <img src="/images/my_photo.jpg" alt="Tom Bealby">
</div>



<h2 class="watermark">&copy; 2023 Tradeway Software Systems<h2/>
-->
</body>
</html>