<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tom Bealby Cricket Averages</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link media="all" rel="stylesheet" type="text/css" href="/css/tradewaysoftwaresystems.css" />
    <link media="screen and (min-width: 20em)" rel="stylesheet" type="text/css" href="/css/tradewaysoftwaresystems-mediumscreens.css" />
    <link media="screen and (min-width: 90em)" rel="stylesheet" type="text/css" href="/css/tradewaysoftwaresystems-largescreens.css" />

<style>
body, .tablecontainer tr {
  background-color: white;
  color: black;
}
</style>

</head>

<body class="cricketAveragesHome">

<!-- 
<h1>Tom Bealby</h1>

<h2 class="email">email: tom.bealby67@gmail.com</h2>

<a class="tradewayLink backToHomePageLink" th:href="@{/tombealby}"><strong>Click here</strong><br>To return to: Home Page</a>

 -->
 
 <!-- 
 https://www.cricketwa.com/stats/batting/most-average/10/11808
 https://en.wikipedia.org/wiki/2023_Ashes_series
 https://www.sportskeeda.com/go/ashes/stats
 https://www.cricketworld.com/cricket/series/the-ashes-2023/stats/bowling-best-averages/127181
 
  -->
 
<div class="tablecontainer">

<table>
  <caption>ENGLAND - BOWLING</caption>
  <tr>
    <th>Player</th>
    <th>O</th>
    <th>M</th>
    <th>R</th>
    <th>W</th>
    <th>BB</th>
    <th>Avge</th>
  </tr>
  <tr>
    <td>Chris Woakes</td>
    <td>113.2</td>
    <td>22</td>
    <td>345</td>
    <td>19</td>
    <td>5/62</td>
    <td>18.15</td>
  </tr>
  <tr>
    <td>Mark Wood</td>
    <td>65.4</td>
    <td>15</td>
    <td>283</td>
    <td>14</td>
    <td>5/34</td>
    <td>20.21</td>
  </tr>
  <tr>
    <td>Ollie Robinson</td>
    <td>102.4</td>
    <td>28</td>
    <td>284</td>
    <td>10</td>
    <td>3/55</td>
    <td>28.40</td>
  </tr>
  <tr>
    <td>Stuart Broad</td>
    <td>184.2</td>
    <td>33</td>
    <td>625</td>
    <td>22</td>
    <td>4/65</td>
    <td>28.41</td>
  </tr>
  <tr>
    <td>Joe Root</td>
    <td>46</td>
    <td>8</td>
    <td>172</td>
    <td>6</td>
    <td>2/19</td>
    <td>28.67</td>
  </tr>
  <tr>
    <td>Ben Stokes</td>
    <td>29</td>
    <td>4</td>
    <td>89</td>
    <td>3</td>
    <td>1/9</td>
    <td>29.67</td>
  </tr>
  <tr>
    <td>Josh Tongue</td>
    <td>42</td>
    <td>7</td>
    <td>151</td>
    <td>5</td>
    <td>3/98</td>
    <td>30.20</td>
  </tr>
  <tr>
    <td>Moeen Ali</td>
    <td>126</td>
    <td>15</td>
    <td>463</td>
    <td>9</td>
    <td>3/76</td>
    <td>51.44</td>
  </tr>
  <tr>
    <td>James Anderson</td>
    <td>128</td>
    <td>37</td>
    <td>427</td>
    <td>5</td>
    <td>1/51</td>
    <td>85.40</td>
  </tr>
</table>
</div>

<!--
<div class="imagecontainer">
    <img src="/images/my_photo.jpg" alt="Tom Bealby">
</div>



<h2 class="watermark">&copy; 2023 Tradeway Software Systems<h2/>
-->
</body>
</html>