<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tom Bealby Cricket Averages</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link media="all" rel="stylesheet" type="text/css" href="/css/tradewaysoftwaresystems.css" />
    <link media="screen and (min-width: 20em)" rel="stylesheet" type="text/css" href="/css/tradewaysoftwaresystems-mediumscreens.css" />
    <link media="screen and (min-width: 90em)" rel="stylesheet" type="text/css" href="/css/tradewaysoftwaresystems-largescreens.css" />

<style>
body, .tablecontainer tr {
  background-color: white;
  color: black;
}
</style>

</head>

<body class="cricketAveragesHome">

<!-- 
<h1>Tom Bealby</h1>

<h2 class="email">email: tom.bealby67@gmail.com</h2>

<a class="tradewayLink backToHomePageLink" th:href="@{/tombealby}"><strong>Click here</strong><br>To return to: Home Page</a>

 -->
 
 <!-- 
 https://www.cricketwa.com/stats/batting/most-average/10/11808
 https://en.wikipedia.org/wiki/2023_Ashes_series
 https://www.sportskeeda.com/go/ashes/stats
 https://www.cricketworld.com/cricket/series/the-ashes-2023/stats/bowling-best-averages/127181
 
  -->
 
<div class="tablecontainer">

<table>
  <caption>AUSTRALIA - BOWLING</caption>
  <tr>
    <th>Player</th>
    <th>O</th>
    <th>M</th>
    <th>R</th>
    <th>W</th>
    <th>BB</th>
    <th>Avge</th>
  </tr>
  <tr>
    <td>Todd Murphy</td>
    <td>32.2</td>
    <td>0</td>
    <td>181</td>
    <td>7</td>
    <td>4/110</td>
    <td>25.86</td>
  </tr>
  <tr>
    <td>Mitchell Starc</td>
    <td>113.3</td>
    <td>8</td>
    <td>623</td>
    <td>23</td>
    <td>5/78</td>
    <td>27.09</td>
  </tr>
  <tr>
    <td>Nathan Lyon</td>
    <td>66</td>
    <td>4</td>
    <td>264</td>
    <td>9</td>
    <td>4/80</td>
    <td>29.33</td>
  </tr>
  <tr>
    <td>Josh Hazlewood</td>
    <td>98</td>
    <td>5</td>
    <td>507</td>
    <td>16</td>
    <td>5/126</td>
    <td>31.69</td>
  </tr>
  <tr>
    <td>Pat Cummins</td>
    <td>145.4</td>
    <td>8</td>
    <td>679</td>
    <td>18</td>
    <td>6/91</td>
    <td>37.72</td>
  </tr>
  <tr>
    <td>Travis Head</td>
    <td>18</td>
    <td>1</td>
    <td>92</td>
    <td>2</td>
    <td>2/17</td>
    <td>46.00</td>
  </tr>
  <tr>
    <td>Cameroon Green</td>
    <td>45.4</td>
    <td>4</td>
    <td>235</td>
    <td>5</td>
    <td>2/64</td>
    <td>47.00</td>
  </tr>
  <tr>
    <td>Mitchell Marsh</td>
    <td>26</td>
    <td>1</td>
    <td>167</td>
    <td>3</td>
    <td>1/9</td>
    <td>55.67</td>
  </tr>
  <tr>
    <td>Scott Boland</td>
    <td>47</td>
    <td>3</td>
    <td>231</td>
    <td>2</td>
    <td>1/61</td>
    <td>115.50</td>
  </tr>
</table>
</div>

<!--
<div class="imagecontainer">
    <img src="/images/my_photo.jpg" alt="Tom Bealby">
</div>



<h2 class="watermark">&copy; 2023 Tradeway Software Systems<h2/>
-->
</body>
</html>